<div class="meFilter" style="display: none;">
  <div class="filer--overlay" tabindex="-1"></div>
  <div class="fitler--wrapper">
    <div class="filter--header">
      Filter
      //
      <div class="filter-group-display__header">
        <span class="filter-group-display__header-selected">{{ filter.active_values.size }} selected</span>

        {%- if filter.active_values.size > 0 -%}
        <a href="{{ filter.url_to_remove }}" class="filter-group-display__header-reset">Reset</a>
        {%- endif -%}
      </div>
      //
      <button class="filter__close" id="filterClose">
        <svg class="icon-close icon" viewBox="0 0 24 24">
          <use xlink:href="#close"></use>
        </svg>
      </button>
    </div>
    <form class="filter-form">
    <div class="filter--content">

      {%- for filter in collection.filters -%}
      <details class="filter-group">
        <summary class="filter-group-summary">
          <div>
            <span>{{ filter.label }}</span>

            {%- if filter.active_values.size > 0 -%}
            <span>({{ filter.active_values.size }})</span>
            {%- endif -%}
          </div>
        </summary>
        <div class="filter-group-display">


          {%- case filter.type -%}
          {%- when 'boolean' or 'list' -%}
          <ul class="filter-group-display__list">
            {%- for filter_value in filter.values -%}
            <li class="filter-group-display__list-item">
              <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                <input type="checkbox" name="{{ filter_value.param_name }}" value="{{ filter_value.value }}"
                  id="Filter-{{ filter.param_name }}-{{ forloop.index }}" {% if filter_value.active -%}checked{%- endif
                  %} {% if filter_value.count==0 and filter_value.active==false -%}disabled{%- endif %}>{{
                filter_value.label
                }}</label>
            </li>
            {%- endfor -%}
          </ul>

          {%- when 'price_range' -%}
          <div class="filter-group-display__price-range">
            <div class="filter-group-display__price-range-from">
              <span>{{ cart.currency.symbol }}</span>

              <input name="{{ filter.min_value.param_name }}" id="Filter-{{ filter.min_value.param_name }}" {% if
                filter.min_value.value -%}
                value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}" {%- endif %}
                type="number" placeholder="0" min="0"
                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">

              <label for="Filter-{{ filter.min_value.param_name }}">From</label>
            </div>
            <div class="filter-group-display__price-range-to">
              <span>{{ cart.currency.symbol }}</span>

              <input name="{{ filter.max_value.param_name }}" id="Filter-{{ filter.max_value.param_name }}" {% if
                filter.max_value.value -%}
                value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}" {%- endif %}
                type="number" placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}" min="0"
                max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">

              <label for="Filter-{{ filter.max_value.param_name }}">To</label>
            </div>
          </div>

          <div class="filter-group-display__submit">
            <input type="submit" value="Apply">
          </div>
          {%- endcase -%}
        </div>
      </details>
      {%- endfor -%}

  </div>
    <div class="filter--footer">
      <div class="filter-group-display__submit">
        <input type="submit" value="Apply">
      </div>
    </div>
  </form>
  </div>
  <div class="meFilter-active">
    <form class="filter-form">

      <div class="active-filters">

        {%- for filter in collection.filters -%}
        {%- if filter.type == "price_range" -%}
        {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
        <a class="active-filters__remove-filter" href="{{ filter.url_to_remove }}">
          {%- assign min_value = filter.min_value.value | default: 0 -%}
          {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
          {{ min_value | money }} - {{ max_value | money }}
          <span class="iconClose"> X </span>
        </a>
        {%- endif -%}
        {%- else -%}
        {%- for filter_value in filter.active_values -%}
        <a class="active-filters__remove-filter" href="{{ filter_value.url_to_remove }}">
          {{ filter.label }}: {{ filter_value.label }}
          <span class="iconClose"> X </span>
        </a>
        {%- endfor -%}
        {%- endif- %}
        {%- endfor -%}

        <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}" class="active-filters__clear">Clear all</a>
      </div>

    </form>
  </div>
</div>

<div class="meFitlerMobile">
  <div id="filterButton">
    <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1"
      stroke-linecap="round" stroke-linejoin="round" class="feather feather-sliders">
      <line x1="4" y1="21" x2="4" y2="14"></line>
      <line x1="4" y1="10" x2="4" y2="3"></line>
      <line x1="12" y1="21" x2="12" y2="12"></line>
      <line x1="12" y1="8" x2="12" y2="3"></line>
      <line x1="20" y1="21" x2="20" y2="16"></line>
      <line x1="20" y1="12" x2="20" y2="3"></line>
      <line x1="1" y1="14" x2="7" y2="14"></line>
      <line x1="9" y1="8" x2="15" y2="8"></line>
      <line x1="17" y1="16" x2="23" y2="16"></line>
    </svg>
    Filter By
  </div>
  <div class="mobileFilterSortBy">
    <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-theme-084" viewBox="0 0 24 24">
      <path
        d="M19.292 1.871c.169 0 .315.063.439.186a.601.601 0 0 1 .186.439v2.5a.657.657 0 0 1-.039.225.499.499 0 0 1-.117.186l-5.469 6.074v6.641a.582.582 0 0 1-.078.293.823.823 0 0 1-.195.234l-3.75 2.5c-.052.026-.107.049-.166.068a.603.603 0 0 1-.479-.05c-.104-.052-.186-.127-.244-.225s-.088-.205-.088-.322v-9.14L3.823 5.406a.491.491 0 0 1-.117-.186.648.648 0 0 1-.039-.224v-2.5a.6.6 0 0 1 .186-.439.604.604 0 0 1 .439-.186h15zm-.625 2.89v-1.64H4.917v1.641l5.469 6.074a.507.507 0 0 1 .117.186.653.653 0 0 1 .039.225v8.203l2.5-1.66v-6.543c0-.078.013-.152.039-.225a.515.515 0 0 1 .117-.186l5.469-6.075z">
      </path>
    </svg>
    <select id="sort-byFitlerMobile">
      {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

      {% for option in collection.sort_options %}
      <option value="{{ option.value }}" {% if option.value==sort_by %}selected="selected" {% endif %}>
        {{ option.name }}
      </option>
      {% endfor %}
    </select>
  </div>

</div>
<script>


</script>
