<div class="meFilter" style="display: none;">
  <div class="filer--overlay"></div>
  <div class="fitler--wrapper">
    <div class="filter--header">
      Filter
      <button class="filter__close" id="filterClose">
        <svg class="icon-close icon" viewBox="0 0 24 24">
          <use xlink:href="#close"></use>
        </svg>
      </button>
    </div>
    <form class="filter-form">
      <div class="filter--content">
        {%- for filter in collection.filters -%}
        <details class="filter-group">
          <summary class="filter-group-summary">
            {% if filter.label == "Price" %}
            {% else %}
            <div>
              <span>{{ filter.label }}</span>
              {%- if filter.active_values.size > 0 -%}
              <span>({{ filter.active_values.size }})</span>
              {%- endif -%}
            </div>
            {% endif %}
          </summary>
          <div class="filter-group-display">
            {%- case filter.type -%}
            {%- when 'boolean' or 'list' -%}
            <ul class="filter-group-display__list">
              {%- for filter_value in filter.values -%}
              <li class="filter-group-display__list-item">
                <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                  <input type="checkbox" name="{{ filter_value.param_name }}" value="{{ filter_value.value }}" {% if
                    filter_value.param_name contains "color" or filter_value.param_name contains "Color" %}
                    data-color="{{ filter_value.value }}"
                    style="background:{{filter_value.value | downcase | remove:" " }}" {% endif %}
                    id="Filter-{{ filter.param_name }}-{{ forloop.index }}" {% if filter_value.active -%}checked{%-
                    endif %} {% if filter_value.count==0 and filter_value.active==false -%}disabled{%- endif %}>
                  {{ filter_value.label }}
                  ({{ filter_value.count }})
                </label>
              </li>
              {%- endfor -%}
            </ul>
            {%- when 'price_range' -%}

            {%- endcase -%}
          </div>
        </details>
        {%- endfor -%}
      </div>
      <div class="filter--footer">
        <div class="filter-group-display__submit">
          <a type="button" class="button button-outline-maroon" href="{{ collection.url }}">Clear all</a>
          <input type="submit" class="button button-solid-maroon" value="Apply">
        </div>
      </div>
    </form>
  </div>
</div>
<div class="meFitlerMobile">
  <div class="filterCardToggle">
    <button class="CollectionToolbar__LayoutType" data-count="3"><svg class="Icon Icon--wall-2"
        role="presentation" viewBox="0 0 36 36">
        <path fill="currentColor" d="M21 36V21h15v15H21zm0-36h15v15H21V0zM0 21h15v15H0V21zM0 0h15v15H0V0z"></path>
      </svg></button>
    <button class="CollectionToolbar__LayoutType is-active"  data-count="4"><svg class="Icon Icon--wall-4"
        role="presentation" viewBox="0 0 36 36">
        <path fill="currentColor"
          d="M28 36v-8h8v8h-8zm0-22h8v8h-8v-8zm0-14h8v8h-8V0zM14 28h8v8h-8v-8zm0-14h8v8h-8v-8zm0-14h8v8h-8V0zM0 28h8v8H0v-8zm0-14h8v8H0v-8zM0 0h8v8H0V0z">
        </path>
      </svg></button>
  </div>
  <div class="filteAction">
    <div id="filterButton">

      <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
        <path
          d="M11 17.5q-.225 0-.363-.15-.137-.15-.137-.35 0-.225.137-.363.138-.137.363-.137h2q.225 0 .363.15.137.15.137.35 0 .225-.137.363-.138.137-.363.137ZM4 6.725q-.225 0-.362-.138Q3.5 6.45 3.5 6.225q0-.2.138-.35.137-.15.362-.15h16q.225 0 .363.15.137.15.137.35 0 .225-.137.362-.138.138-.363.138Zm3 5.4q-.225 0-.362-.15-.138-.15-.138-.35 0-.225.138-.363.137-.137.362-.137h10q.225 0 .363.137.137.138.137.363 0 .2-.137.35-.138.15-.363.15Z" />
      </svg>
      Filter By
    </div>
    <div id="sortButton">
      <span class="custom-select">
        <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
          <path
            d="M8 17.5H4q-.225 0-.362-.15Q3.5 17.2 3.5 17q0-.225.138-.363.137-.137.362-.137h4q.225 0 .363.15.137.15.137.35 0 .225-.137.363-.138.137-.363.137ZM20 6.725H4q-.225 0-.362-.138Q3.5 6.45 3.5 6.225q0-.2.138-.35.137-.15.362-.15h16q.225 0 .363.15.137.15.137.35 0 .225-.137.362-.138.138-.363.138Zm-6 5.4H4q-.225 0-.362-.15-.138-.15-.138-.35 0-.225.138-.363.137-.137.362-.137h10q.225 0 .363.137.137.138.137.363 0 .2-.137.35-.138.15-.363.15Z" />
        </svg>
        Sort By
      </span>
      <ul id="sort-by">

        <!-- <option value="" selected>Sort By</option> -->
        {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}

        {% for option in collection.sort_options %}

        {% unless option.value contains 'best-selling' or option.value contains 'manual' or option.value contains
        'title-ascending' or option.value contains 'title-descending' or option.value contains 'created-ascending' or
        option.value contains 'created-descending' %}
        <li value="{{ option.value }}" {% if sort_by==option.value %} selected="selected" {% endif %}> {{ option.name }}
        </li>

        {% endunless %}
        {% endfor %}

      </ul>
    </div>
  </div>
</div>
<div class="meFilter-active">
  <form class="filter-form">
    <div class="active-filters">
      {%- for filter in collection.filters -%}
      {%- if filter.type == "price_range" -%}
      {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}
      <a class="active-filters__remove-filter" href="{{ filter.url_to_remove }}">
        {%- assign min_value = filter.min_value.value | default: 0 -%}
        {%- assign max_value = filter.max_value.value | default: filter.range_max -%}
        {{ min_value | money }} - {{ max_value | money }}
        <span class="iconClose"> X </span>
      </a>
      {%- endif -%}
      {%- else -%}
      {%- for filter_value in filter.active_values -%}
      <a class="active-filters__remove-filter" href="{{ filter_value.url_to_remove }}">
        {{ filter.label }}: {{ filter_value.label }}
        <span class="iconClose"> X </span>
      </a>
      {%- endfor -%}
      {%- endif- %}
      {%- endfor -%}
      <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}" class="active-filters__clear">Clear all</a>
    </div>
  </form>
</div>
<script>
  Shopify.queryParams = {};

  // Preserve existing query parameters
  if (location.search.length) {
    var params = location.search.substr(1).split('&');

    for (var i = 0; i < params.length; i++) {
      var keyValue = params[i].split('=');

      if (keyValue.length) {
        Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
      }
    }
  }

  // Update sort_by query parameter on select change
  let link = document.querySelector('#sort-by li');
  document.querySelector('#sort-by li').addEventListener('click', function (e) {
    var value = link.getAttribute('value');
    console.log(value);
    Shopify.queryParams.sort_by = value;
    location.search = new URLSearchParams(Shopify.queryParams).toString();
  });
</script>
