<div data-hulkapps-lineitem class="line-item">
  <div hidden>
    {{ line_item | json }}
  </div>
  <div class="lin-item__image-wrapper">
    <a href="{{line_item.url  | within: collections.all }}" target="_blank">
      <img
        id="{{ line_item.id }}"
        class="article__grid-image lazyload"
        src="{{ line_item.image | image_url: width: 120, height: 148  }}"
        data-src="{{ img_url }}"
        data-aspectratio="{{ line_item.image.aspect_ratio }}"
        data-sizes="auto"
        alt="{{ line_item.image.alt | escape }}"
      >
    </a>
  </div>
  <div class="line-item__details-wrapper">
    <div class="line-item__details">
      <h2 class="line-item__title">
        <a href="{{line_item.url  | within: collections.all }}" target="_blank">
        {{ line_item.product.title }}
        </a>
      </h2>

      <div hidden>
        {{ line_item.properties | json }}
        <hr>
        {{ line_item.options_with_values | json }}
        <hr>
        {% for blouseOption in line_item.options_with_values %}
          {{ blouseOption.last }}
        {% endfor %}
      </div>

      {% for option in line_item.options_with_values %}
        {% if option.name != 'Title' %}
          <div class="line-item__option-block">
            <div class="line-item__option">{{ option.name }} :</div>
            <div class="line-item__value">{{ option.value }}</div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="line-item__right">
      <div data-hulkapps-ci-price data-key="{{line_item.key}}" class="line-item__price">
        {% comment %} {{ line_item.price | money }} <br> {% endcomment %}
        {% comment %} Compare Price:{{ line_item.variant.compare_at_price | money }} <br> {% endcomment %}
        {% comment %} Price : {{ line_item.variant.price | money }} <br> {% endcomment %}
        {% assign savings = 0 %}
        {% if line_item.variant.compare_at_price > line_item.variant.price %}
          <span>
            <s>{{ line_item.variant.compare_at_price | money_with_currency }}</s>
          </span><br>
          <span>{{ line_item.variant.price | money_with_currency }}</span>
          {% assign difference = line_item.variant.compare_at_price | minus: line_item.variant.price %}
          {% assign diffSaving = difference | times: line_item.quantity %}
          {% assign savings = savings | plus: diffSaving %}
          {% comment %} YOU SAVE {{ diffSaving | money }} {% endcomment %}
        {% else %}
          <span>{{ line_item.variant.price | money_with_currency }}</span>
        {% endif %}
      </div>
      <a aria-label="Remove {{ line_item.variant.title }}" href="/cart/change?line={{index}}&amp;quantity=0">
        <svg>
          <use href="#trash-mini" />
        </svg>
        Remove
      </a>
    </div>
  </div>
</div>
