
<div class="line-item">
{%- comment -%}
image
content variable option extra infor
price remove
{%- endcomment -%}
<div class="lin-item__image-wrapper">
<a href="{{line_item.url  | within: collections.all }}" target="_blank">
  <img id="{{ line_item.id }}"
    class="article__grid-image lazyload"
    src="{{ line_item.image | image_url: width: 120, height: 148 }}"
    data-src="{{ img_url }}"
    data-aspectratio="{{ line_item.image.aspect_ratio }}"
    data-sizes="auto"
    alt="{{ line_item.image.alt | escape }}">
</a>
</div>
<div class="line-item__details">
  <h2 class="line-item__title">
    {{line_item.product.title}}
  </h2>
  {%- unless line_item.variant.title contains 'Default' -%}
    <p>{{ item.variant.title }}</p>
  {%- endunless -%}
  {%- assign property_size = item.properties | size -%}
  {%- if property_size > 0 -%}
    <ul>
      {%- for p in item.properties -%}
        {%- assign first_character_in_key = p.first | truncate: 1, '' -%}
        {%- unless p.last == blank or first_character_in_key == '_' -%}
          <li>
            {{ p.first }}:
            {%- if p.last contains '/uploads/' -%}
              <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
            {%- else -%}
              {{ p.last }}
            {%- endif -%}
          </li>
        {%- endunless -%}
      {%- endfor -%}
    </ul>
  {%- endif -%}
{%- comment -%}
  {% for option in line_item.options_with_values %}
    <div class="line-item__option-block">
      <div class="line-item__option"> {{ option.name }} </div>
      <div class="line-item__value"> {{ option.value }} </div>
    </div>
    {% endfor %}
  {%- endcomment -%}
</div>
<div class="line-item__right">
  <div class="line-item__price">
    {{ line_item.price | money }}
  </div>
  <a aria-label="Remove {{ line_item.variant.title }}" href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
    <svg width="24" height="24">
      <use href="#trash" />
    </svg>
    Remove</a>
  </div>
</div>
