

<div  data-hulkapps-lineitem class="line-item">
{%- comment -%}
{{line_item | json }}
image
content variable option extra infor
price remove
{%- endcomment -%}
<div class="lin-item__image-wrapper">
<a href="{{line_item.url  | within: collections.all }}" target="_blank">
  <img id="{{ line_item.id }}"
    class="article__grid-image lazyload"
    src="{{ line_item.image | image_url: width: 120, height: 148, format: 'pjpg' }}"
    data-src="{{ img_url }}"
    data-aspectratio="{{ line_item.image.aspect_ratio }}"
    data-sizes="auto"
    alt="{{ line_item.image.alt | escape }}">
</a>
</div>
<div class="line-item__details-wrapper">
<div class="line-item__details">
  <h2 class="line-item__title">
    {{line_item.product.title}}

    <!-- {{line_item.variant_id}} <hr>
    {{line_item.id}} <hr>
    {{line_item.product_id}} <hr> -->
  </h2>
  <!-- {%- unless line_item.variant.title contains 'Default' -%}
    <p>{{ line_item.variant.title }}</p>
  {%- endunless -%} -->


  {% for option in line_item.options_with_values %}
  {% if option.name != "Title" %}
    <div class="line-item__option-block">
      <div class="line-item__option"> {{ option.name }} : </div>
      <div class="line-item__value"> {{ option.value }} </div>
    </div>
    {% endif %}
    {% endfor %}

    <button type='button' style='display: none;' class='edit_cart_option btn btn--primary button' data-product_id='{{item.product_id}}' data-key='{{item.key}}' data-variant_id='{{item.variant_id}}' data-quantity='{{item.quantity}}'>Edit Options</button>

   </div>
<div class="line-item__right">
  <div  data-hulkapps-ci-price data-key='{{line_item.key}}' class="line-item__price">
    {{ line_item.price | money }}
  </div>
  <a aria-label="Remove {{ line_item.variant.title }}" href="/cart/change?line={{index}}&amp;quantity=0">
    <svg>
      <use href="#trash-mini" />
    </svg>
    Remove</a>
  </div>
</div>
</div>
