<div class="homepage-blogfeed">
  <div class="section-header text-center">
    <div class="section-header-title">Blogs by Sundari Silks</div>
    <div class="section-header-content">Stories of Fabrics, Styling Tips, Decor Inspiration and more…</div>
  </div>
  <div class="section-content">
    <div class="blog-feed-container">
      {% if section.settings.blog != blank and section.settings.blog.articles_count > 0 %}

      {% for article in section.settings.blog.articles limit: 5 %}
      <div class="blog-feed-card">
        <div class="article-card-wrapper card-wrapper underline-links-hover">
          <a href=" {{ article.url }}" class="article-card__image-wrapper card__media">
            {% if article.image %}


<img id="Image-{{ article.id }}"
  class="blur-up responsive-image__image lazyload {{ article_class }}"
  src="https://cdn.shopify.com/s/files/1/0560/3695/0174/files/pattern-background.png?v=1664355715"
  data-src="{{article.image.src | image_url: width:404, height: 296, crop: 'top' }}"
  data-widths="[{{ article.image.width }}]"
  data-aspectratio="{{ article.image.aspect_ratio }}"
  data-sizes="auto"
  data-parent-fit="cover"
  tabindex="-1"
  alt="{{ article.image.alt | escape }}"

>

            <!-- <img class="lazyload" data-sizes="auto" data-src="{{article.image.src | image_url: width:404, height: 296, crop: 'top' }}" alt="{{article.image.alt}}"> -->
            <!-- {{ article.image | image_url: width: 1800, height: 1000 | image_tag: alt:article.image.alt }} -->
            {% else %}
            {{ 'collection-2' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            <h3 class="blog-feed-card-title"> {{ article.title | truncate: 36 | escape }} </h3>
            <p class="blog-feed-card-content">
              {% if article.excerpt.size > 0 %}
              {{ article.excerpt | strip_html | truncate: 148 }}
              {% else %}
              {{ article.content | strip_html | truncate: 148 }}
              {% endif %}
            </p>
          </a>
        </div>
      </div>
      {% endfor %}
      {% endif %}

    </div>
  </div>
</div>

{% schema %}
{
  "name": "Blog posts",
  "class": "homepage-section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Blogs by Sundari Silks",
      "label": "Blog Title"
    },
    {
      "type": "text",
      "id": "richtext",
      "default": "Stories of Fabrics, Styling Tips, Decor Inspiration and more…",
      "label": "Blog Description"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": "Show author",
      "default": true
    }
  ]
}
{% endschema %}
