<div class="blog-article">
  <article>

    <h2>{{ article.title }}</h2>

    {{ article.content }}

    {% if article.tags.size > 0 %}
    <footer>
      <ul aria-label="Tags">
        {% for tag in article.tags %}
        <li>
          <a href="{{ blog.url }}/tagged/{{ tag | handle }}">
            {{ tag }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </footer>
    {% endif %}

  </article>
</div>

{% schema %}
{
"name": "Posts",
"settings": [
{
"type": "checkbox",
"id": "blog_show_author",
"label": "Show author",
"default": true
},
{
"type": "checkbox",
"id": "blog_show_date",
"label": "Show date",
"default": true
}
]
}
{% endschema %}
