{% comment %}
<!--
<section>
  <div class="section-header-wrapper justify-content-center">
    <div class="section-header">
      <div class="section-header-title">Blogs by Sundari Silks</div>
      <div class="section-header-content">Stories of Fabrics, Styling Tips, Decor Inspiration and more…</div>
    </div>
  </div>
  <div class="section-content">
    <div class="blog-feed-container">
      {%- if section.settings.blog != blank and section.settings.blog.articles_count > 0 -%}

      {%- for article in section.settings.blog.articles limit: 2 -%}
      <li  class="blog-feed-card">
        <div class="article-card-wrapper card-wrapper underline-links-hover">
           <a href=" {{ article.url }}" class="article-card__image-wrapper card__media">
            {% if article.image %}
            {{ article.image | image_url: width: 720 | image_tag: alt:article.image.alt }}
            {% else %}
            {{ 'product-w' | placeholder_svg_tag: 'placeholder-svg' }}
            {% endif %}
            <h3 class="blog-feed-card-title"> {{ article.title | truncate: 50 | escape }} </h3>
            {{ article.title }}
            <!-- {{ article.author }} -->
            <!-- <span class="circle-divider">{{ article.published_at | time_tag: format: 'date' }}</span> -->
            <p class="blog-feed-card-content">
            {%- if article.excerpt.size > 0 -%}
            {{ article.excerpt | strip_html | truncatewords: 30 }}
          {%- else -%}
            {{ article.content | strip_html | truncatewords: 30 }}
          {%- endif -%}
        </p>
      </a>
          </div>
      </li>
    {%- endfor -%}
      {%- endif -%}

    </div>
  </div>
</section>

{% schema %}
{
  "name": "Blog posts",
  "tag": "section",
  "class": "section",
  "settings": [
  {
    "type": "text",
    "id": "heading",
    "default": "Blogs by Sundari Silks",
    "label": "Blog Title"
  },  {
    "type": "text",
    "id": "richtext",
    "default": "Stories of Fabrics, Styling Tips, Decor Inspiration and more…",
    "label": "Blog Description"
  },
  {
    "type": "blog",
    "id": "blog",
    "label": "Blog"
  }
  ]
}
{% endschema %} -->

{% endcomment %}

<h1>{{ section.settings.title | escape }}</h1>

{%- assign blog = blogs[section.settings.blog] -%}

{%- if blog.articles_count > 0 -%}
  <ul>

    {%- for article in blog.articles limit: section.settings.post_limit -%}
      <li>
        <a href="{{ article.url }}">
          {%- if article.image -%}
            {{ article | img_url: '150x150', scale: 2 | img_tag: '' }}
          {%- endif -%}
          <h2>{{ article.title }}</h2>
        </a>

        {%- if section.settings.blog_show_author -%}
          <span>
            By {{ article.author }}
          </span>
        {%- endif -%}

        {%- if section.settings.blog_show_date -%}
          <span>
            {{ article.published_at | time_tag: format: 'month_day_year' }}
          </span>
        {%- endif -%}

        {%- if article.excerpt.size > 0 -%}
          {{ article.excerpt }}
        {%- else -%}
          {{ article.content | strip_html | truncate: 150 }}
        {%- endif -%}

        {%- if article.tags.size > 0 -%}
          <ul aria-label="{{ 'blogs.article.tags' }}">
          {%- for tag in article.tags -%}
            <li>
              <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>
            </li>
          {%- endfor -%}
          </ul>
        {%- endif -%}

        <ul>
          <li>
            <a href="{{ article.url }}" aria-label="Read more: {{ article.title }}">
              Read more
            </a>
          </li>

          {%- if blog.comments_enabled? and article.comments_count > 0 -%}
            <li>
              <a href="{{ article.url }}#comments">
                {{ article.comments_count }} comments
              </a>
            </li>
          {%- endif -%}

        </ul>
      </li>
    {%- endfor -%}

  </ul>
{%- endif -%}

{%- if section.settings.show_view_all -%}
  <a href="{{ blog.url }}"
    class="btn"
    aria-label="{{ 'blogs.article.view_all_blogs' }}">
    {{ 'blogs.article.view_all' }}
  </a>
{%- endif -%}

{% schema %}
{
  "name": "Blog posts",
  "class": "index-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Blog posts"
    },
    {
      "id": "blog",
      "type": "blog",
      "label": "Blog"
    },
    {
      "type": "range",
      "id": "post_limit",
      "label": "Posts",
      "min": 3,
      "max": 12,
      "step": 3,
      "default": 3
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": "Show author",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": "Show date",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show 'View all' button",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Blog posts",
      "category": "Blog",
      "settings": {
        "blog": "News",
        "post_limit": 3
      }
    }
  ]
}
{% endschema %}
