{% for collection in collections %}
{% unless collection.metafields.custom.collection_secondary_image.value != blank %}
<link rel="preload" as="image" href="{{ collection.image.src | image_url: height: '450x' }}">
<link rel="prefetch" href="{{ collection.image.src | image_url: height: '450x' }}">
{% endunless %}
{% endfor %}

<div class="page-width">
  <h1 class="title title--primary"> Collection Page</h1>
  {% paginate collections by 24 %}
  <ul class="collection-list grid" role="list" style="display: block;">
    {% for collection in collections %}
    <li class="collection-list__item grid__item">
      <div class="card">
        <a href="{{ collection.url }}">

          <div class="card__content">
            <h3 class="card__heading" style="text-align: left; padding: 0; margin: 0;">
              {{collection.title}}
            </h3>
            
           {%- if collection.description != blank -%}
  <p>{{ collection.description }}</p>
{%- endif -%}

          </div>
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>
  <div class="pagination--number">
    {{ paginate | default_pagination: next: 'Next', previous: 'Previous' }}
  </div>
  {% endpaginate %}
</div>
