<div class="page-width">
  <h1 class="title title--primary"> collection Page</h1>
  {% paginate collections by 24 %}
  <ul class="collection-list grid" role="list">
    {% for collection in collections  %}
    <li class="collection-list__item grid__item">
      <div class="card">
        <div class="card__media">
          <div class="media media--transparent media--hover-effect">
            {% if collection.image  %}
            {% assign collection_image = collection.image  %}
            {% elsif collection.products.first and collection.products.first.images != empty  %}
            {% assign collection_image = collection.products.first.featured_image  %}
            {% else  %}
            {% assign collection_image = blank  %}
            {% endif  %}
            <a href="{{ collection.url }}">
              <img class="lazyload" data-sizes="auto" data-src="{{ collection_image | img_url: '480x' }}" alt="">
            </a>
          </div>
        </div>
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading">
              {{collection.title}}
            </h3>
            <p class="card__caption">
              {{collection.description}}
            </p>
          </div>
        </div>
      </div>
    </li>
    {% endfor  %}
  </ul>
 <div class="pagination--number">
      {{ paginate | default_pagination: next: 'Older', previous: 'Newer' }}
    </div>
    {% endpaginate %}
</div>
