<div class="collection-page-header">
  <div class="collection-page-header-image text-center image-radius">
    {% if collection.description != blank %}
    {{ collection | image_url: width: 1920, height: 340 | image_tag : alt: collection.image.alt, class: 'image-radius'
    }}
    {% else %}
    {{ 'lifestyle-2' | placeholder_svg_tag: 'my-custom-class' }}
    {% endif %}
  </div>
  <div class="collection-page-description">
    {% if collection.description != blank %}
    <p>{{ collection.description }}</p>
    {% else %}
    <p> Please add description for the page </p>
    {% endif %}
  </div>
</div>
<div class="section-{{ section.id }}-padding">
  <div class="collection-page-action-list">
    <div class="collection-filter">
      <!-- Filter code -->
      <form class="filter-form">
        {% for filter in collection.filters %}
        <details class="filter-group">
          <summary class="filter-group-summary">
            <div>
              <span>{{ filter.label }}</span>
              {% if filter.active_values.size > 0 %}
              <span>({{ filter.active_values.size }})</span>
              {% endif %}
            </div>
          </summary>
          <div class="filter-group-display">
            {% comment %}
            <div class="filter-group-display__header">
              <span class="filter-group-display__header-selected">{{ filter.active_values.size }} selected</span>
              {% if filter.active_values.size > 0 %}
              <a href="{{ filter.url_to_remove }}" class="filter-group-display__header-reset">Reset</a>
              {% endif %}
            </div>
            {% endcomment %}
            {% case filter.type %}
            {% when 'boolean' or 'list' %}
            <ul class="filter-group-display__list">
              {% for filter_value in filter.values %}
              <li class="filter-group-display__list-item">
                <label for="Filter-{{ filter.param_name }}-{{ forloop.index }}">
                  <input type="checkbox" name="{{ filter_value.param_name }}" value="{{ filter_value.value }}"
                    id="Filter-{{ filter.param_name }}-{{ forloop.index }}" {% if filter_value.active %}checked{%- endif
                    %} {% if filter_value.count==0 and filter_value.active==false %}disabled{% endif %}>
                  <span>
                    {{ filter_value.label }}
                  </span>
                </label>
              </li>
              {% endfor %}
            </ul>
            <div class="filter-group-display__submit">
              <input type="submit" value="Apply">
            </div>
            {% when 'price_range' %}
            <div class="filter-group-display__price-range">
              <div class="filter-group-display__price-range-from">
                <span>{{ cart.currency.symbol }}</span>
                <input name="{{ filter.min_value.param_name }}" id="Filter-{{ filter.min_value.param_name }}" {% if
                  filter.min_value.value %}
                  value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}" {% endif %}
                  type="number" placeholder="0" min="0"
                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
                <label for="Filter-{{ filter.min_value.param_name }}">From</label>
              </div>
              <div class="filter-group-display__price-range-to">
                <span>{{ cart.currency.symbol }}</span>
                <input name="{{ filter.max_value.param_name }}" id="Filter-{{ filter.max_value.param_name }}" {% if
                  filter.max_value.value %}
                  value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}" {% endif %}
                  type="number" placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}" min="0"
                  max="{{ filter.range_max | money_without_currency | replace: ',', '' }}">
                <label for="Filter-{{ filter.max_value.param_name }}">To</label>
              </div>
            </div>
            <div class="filter-group-display__submit">
              <input type="submit" value="Apply">
            </div>
            {% endcase %}
          </div>
        </details>
        {% endfor %}
      </form>
      <!-- Filter code -->
    </div>
    <div class="collection-action-sortyby">
      Sort By:
      <select id="sort-by">
        {% assign sort_by = collection.sort_by | default: collection.default_sort_by %}
        {% for option in collection.sort_options %}
        <option value="{{ option.value }}" {% if option.value==sort_by %}selected="selected" {% endif %}>
          {{ option.name }}
        </option>
        {% endfor %}
      </select>
      <script>
        Shopify.queryParams = {};
        // Preserve existing query parameters
        if (location.search.length) {
          var params = location.search.substr(1).split('&');
          for (var i = 0; i < params.length; i++) {
            var keyValue = params[i].split('=');
            if (keyValue.length) {
              Shopify.queryParams[decodeURIComponent(keyValue[0])] = decodeURIComponent(keyValue[1]);
            }
          }
        }
        // Update sort_by query parameter on select change
        document.querySelector('#sort-by').addEventListener('change', function (e) {
          var value = e.target.value;
          Shopify.queryParams.sort_by = value;
          location.search = new URLSearchParams(Shopify.queryParams).toString();
        });
      </script>
    </div>
  </div>
  <div class="collection-page-action-active">
    <div class="active-filters">
      <a href="{{ collection.url }}?sort_by={{ collection.sort_by }}" class="active-filters__clear">Clear all</a>
      {% for filter in collection.filters %}
      {% if filter.type == "price_range" %}
      {% if filter.min_value.value != nil or filter.max_value.value != nil %}
      <a class="active-filters__remove-filter" href="{{ filter.url_to_remove }}">
        {% assign min_value = filter.min_value.value | default: 0 %}
        {% assign max_value = filter.max_value.value | default: filter.range_max %}
        {{ min_value | money }} - {{ max_value | money }}
        <i class="icon-close">X</i>
      </a>
      {% endif %}
      {% else %}
      {% for filter_value in filter.active_values %}
      <a class="active-filters__remove-filter" href="{{ filter_value.url_to_remove }}">
        <span class="active-filters__remove-filter-value">
          {{ filter.label }}: {{ filter_value.label }}
        </span>
        <i class="active-filters__remove-filter-closeIcon">X</i>
      </a>
      {% endfor %}
      {% endif- %}
      {% endfor %}
    </div>
  </div>
  <section>
    {% paginate collection.products by 24 %}
    <div class="test--product-card--grid-three">
      {% for product in collection.products %}
      <div class="product__card">
        {% comment %}
        {% unless product == empty %}
        <script type="application/json" id="ProductJson-{{ section.id }}">
        {{ product_collection | json }}
      </script>
        {% endunless %}
        {% endcomment %}
        <div class="product__card--img">
          <a href="{{ product.url | within: collection }}" class="product-link">
            <div class="product__image--wrapper prpdocutSlider"
              data-slick='{"autoplay": true, "cssEase": "linear", "slidesToShow": 1, "slidesToScroll": 1, "autoplaySpeed": 1000, "fade": true, "arrows": false, "dots": true, "adaptiveHeight": true }'>
              {% if product.featured_image != blank %}
              <!--  360 x 348 -->
              <div>
                <img loading="lazy" alt="{{ product.featured_image.alt }}"
                  data-widths="[200,400,600,700,800,900,1000,1200,2048]" data-sizes="auto"
                  data-media-id="{{ product.featured_image.id }}" data-srcset="
              {{ product.featured_image.src | image_url: 'small' }}     100w,
              {{ product.featured_image.src | image_url }}   160w,
              {{ product.featured_image.src | image_url }}    240w,
              {{ product.featured_image.src | image_url }}     480w,
              {{ product.featured_image.src | image_url }}    600w,
              {{ product.featured_image.src | image_url: width: 1024, height: 1024 }} 1024w" srcset=" {{ product.featured_image.src | image_url: 'small' }} 100w, {{
              product.featured_image.src | image_url }} 160w, {{ product.featured_image.src |
              image_url }} 240w, {{ product.featured_image.src | image_url }} 480w, {{
              product.featured_image.src | image_url }} 600w, {{ product.featured_image.src |
              image_url: width: 1024, height: 1024 }} 1024w"
              sizes=" 679px">
              </div>
              {% for image in product.images offset:1 %}
              <div>
                <img src="{{ image.src | image_url : width: 400 }}" alt="{{image.alt }}">
              </div>
              {% endfor %}
            </div>
            {% else %}
            {{ 'product-1' | placeholder_svg_tag: 'product-img' }}
            {% endif %}
            <div class="product__status">
              {% unless product.available %}
              <!-- TODO: Sold out chip color -->
              <span class="product__status-soldout">sold out</span>
              {% endunless %}
            </div>
          </a>
          <div class="product__card-cta quick-view-button">
            <a class="quick-view" data-handle="{{ product.handle }}">Quick View</a>
          </div>
        </div>
        <div class="product__card--content">
          <a href="{{product.url | within: collection }}" class="product-link">
            <h2 itemprop="name" class="product__title">{{ product.title }}</h2>
            <div hidden class="product__id">{{ product.id }}</div>
            <div hidden itemprop="brand" class="product__variant--vendor">{{ product.vendor }}</div>
            <div hidden class="product__type"> {{ product.type }} </div>
            <div class="product__variant--price">
              {% if product.price_varies %}
              <p>From {{ product.price_min | money_with_currency }} to {{ product.price_max | money_without_currency }}
              </p>
              {% else %}
              <p>
                {% if product.compare_at_price_max > product.price %}
                <span><s>{{ product.compare_at_price_max | money_with_currency }}</s></span>
                <span>{{ product.price | money_with_currency }}</span>
                {% else %}
                <span>{{ product.price | money_with_currency }}</span>
                {% endif %}
              </p>
              {% endif %}
            </div>
            {% if product.variants.size > 1 %}
            {% for variant in product.variants %}
            {{variant.title}} :
            <!-- You save {{ variant.price | minus: variant.compare_at_price | times: 100.0 | divided_by: variant.price |
            money_without_currency | times: 100.0 | remove: '.0' }} % -->
            <br>
            {% endfor %}
            {% else %}
            {% if product.compare_at_price_max > product.price %}
            <!-- You save {{ product.compare_at_price_max | minus: product.price | times: 100.0 | divided_by:
            product.compare_at_price_max | money_without_currency | times: 100.0 | remove: '.0'}} % -->
            {% endif %}
            {% endif %}
            {% if product.tags.size < 1 %} {% for taglist in product.tags %} <span hidden class="product__tag--list">
              {{ taglist }}, </span>
              {% endfor %}
              {% endif %}
              {% for variant in product.variants %}
              <div hidden class="product__variant--title"> {{ variant.title }} </div>
              <div hidden class="product__variant--weight"> {{ variant.weight | weight_with_unit : variant.weight_unit
                }}
              </div>
              <div hidden class="product__variant--price"> {{ variant.price | money }} </div>
              <div hidden class="product__variant--sku"> {{ variant.sku }} </div>
              <div hidden class="product__variant--barcode"> {{ variant.barcode }} </div>
              {% endfor %}
              {% if product.variants.size > 1 %}
              <div class="product__variant--list">
                {% for variant in product.variants %}
                <span class="product__variant--list-name"> {{ variant.title }} </span>
                {% endfor %}
              </div>
              {% endif %}
              {% comment %}
              TODO: Need show separate the variant list
              {% if customer and customer.tags contains 'admin' %}
              {% for variant in product.variants %}
              <div class="product__variant--buybutton">
                <button style="background: blue; color: red; padding: 8px;"
                  onclick="Shopify.addItem('{{ variant.id }}', 1)">
                  {{ variant.title }} -- button
                </button>
              </div>
              {% endfor %}
              {% endif %}
              {% endcomment %}
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="pagination--number">
      {{ paginate | default_pagination: next: 'Older', previous: 'Newer' }}
    </div>
    {% endpaginate %}
  </section>
</div>
