<div class="page-width">
  <h1 class="title title--primary"> Collection Page</h1>
  {% paginate collections by 24 %}
  <ul class="collection-list grid" role="list">
    {% for collection in collections  %}
    <li class="collection-list__item grid__item">
      <div class="card">
        <div class="card__media">
          <div class="media media--transparent media--hover-effect">

            <a href="{{ collection.url }}">
              <img class="lazyload" data-sizes="auto" data-src="{{ collection.image | image_url:  height: '480x' }}" alt="{{collection.image.alt}}">
            </a>
          </div>
        </div>
        <div class="card__content">
          <div class="card__information">
            <h3 class="card__heading">
              {{collection.title}}
            </h3>
          </div>
        </div>
      </div>
    </li>
    {% endfor  %}
  </ul>
 <div class="pagination--number">
      {{ paginate | default_pagination: next: 'Older', previous: 'Newer' }}
    </div>
    {% endpaginate %}
</div>
