{% for collection in collections %}
{% unless collection.metafields.custom.collection_secondary_image.value != blank %}
<link rel="preload" as="image" href="{{ collection.image.src | image_url: height: '450x' }}">
<link rel="prefetch" href="{{ collection.image.src | image_url: height: '450x' }}">
{% endunless %}
{% endfor %}

<div class="page-width">
  <h1 class="title title--primary"> Collection Page</h1>
  {% paginate collections by 24 %}
  <ul class="collection-list grid" role="list">
    {% for collection in collections %}
    <!-- {{ collection.products.first | json }} -->
    <li class="collection-list__item grid__item">
      <div class="card">
        <a href="{{ collection.url }}">
          <div class="card_image">
            {% if collection.image.src != blank %}
            <img src="{{ collection.image.src | image_url: height: '450x' }}" alt="{{ collection.image.alt }}"
              loading="lazy" width="450" height="450" />
            {% else %}
            {{ 'lifestyle-1' | placeholder_svg_tag }}
            {% endif %}
          </div>
          <div class="card__content">
            <h3 class="card__heading">
              {{collection.title}}
            </h3>
          </div>
        </a>
      </div>
    </li>
    {% endfor %}
  </ul>
  <div class="pagination--number">
    {{ paginate | default_pagination: next: 'Next', previous: 'Previous' }}
  </div>
  {% endpaginate %}
</div>
