x

<div class="page-account">
  <aside class="page-account-navigation">
    <nav>
      <a class="active" href="/account">Account Details</a>
      <a href="/pages/order">My Orders </a>
      <a href="/pages/swym-wishlist">My Wishlist </a>
      <a href="/account/addresses">Address</a>
      <a href="{{ routes.account_logout_url }}">Sign Out </a>
    </nav>
  </aside>

  <section>
    <p class="customer-name-firstName">
      <span class="firstName">
    {{customer.first_name | slice: 0 }}
      </span>
    </p>
    <p class="customer-name">
    {{customer.name}}
    </p>
    <p class="customer-email">
    {{customer.email}}
    </p>
    <p class="customer-phone">
    {{customer.phone}}
    </p>
  </section>
 

</div>
