<div class="customer-account">
  <div class="customer-account-title">
    <h2>Account</h2>
    <a href="{{ routes.account_logout_url }}">
      <svg width="24" height="24">
        <use href="#layout" />
      </svg>
      Log Out
    </a>
  </div>
  <div class="customer-account-detail">
    <div class="customer-account-order-lists">
      <h2> Order history </h2>
      {% paginate customer.orders by 2 %}
      {% if customer.orders.size > 0 %}
      {% for order in customer.orders %}
      <div class="order-list">
        <div class="order-list-header">
          <div class="order-list-header-data">
            <div class="order-placed-date">
              <span class="data-title">Order Placed</span>
              <span class="data-value">{{ order.created_at | time_tag: format: 'date' }}</span>
            </div>
            <div class="order-placed-total">
              <span class="data-title">Total</span>
              <span class="data-value">{{ order.total_price | money_with_currency }}</span>
            </div>
            <div class="order-placed-status">
              <span class="data-title">Status</span>
              <span class="data-value">{{ order.fulfillment_status_label }}</span>
            </div>
          </div>
          <div>
            <div class="order-placed-id">
              <span class="data-title">Order</span>
              <span class="data-value">{{ order.name }}</span>
            </div>
            <div>
              <!--
            <div class="order-invoice">
                <span class="data-value">
                  <a href="{{ order.customer_url }}" target="_blank"> View order details
                  </a>
                </span>
              </div> -->
              <!--
                <div class="data-invoice">
          <span class="data-value"> <a href="{{ order.customer_url }}" target="_blank"> Invoice </a></span>
        </div> -->
            </div>
          </div>
        </div>
        <div class="order-list-data">
          <ul>
            {% for line_item in order.line_items %}
            <li>
              {% if line_item.url != blank %}
              <a href="{{shop.secure_url}}/{{ line_item.url }}" target="_blank">
                {% endif %}
                {% if line_item.image != blank %}
                <span>
                  {{ line_item.image | image_url: width: 100, height: 100 | image_tag : alt: line_item.image.alt }}
                </span>
                {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'line-item-image' }}
                {% endif %}
                {% if line_item.url != blank %}
              </a>
              {% endif %}
              <span>
                {{ line_item.title }}
              </span>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p>{{ 'customer.orders.none' | t }}</p>
      {% endif %}
      <div class="pagination--number">
        {{ paginate | default_pagination: next: 'Next', previous: 'Prev' }}
      </div>
      {% endpaginate %}
    </div>
    <div class="customer-account-address">
      <h2> Account details </h2>
      <address>
        <div itemscope itemtype="https://schema.org/Person">
          <strong><span itemprop="givenName"> {{ customer.default_address.first_name }} </span>
            <span itemprop="familyName"> {{ customer.default_address.last_name }} </span>
          </strong><br>
          <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress">
            {% if customer.default_address.address2 != blank %}
            <span itemprop="streetAddress">{{ customer.default_address.address2 }} </span>
            {% endif %}
            {% if customer.default_address.address1 != blank %}
            <span itemprop="streetAddress">
              {{ customer.default_address.address1 }}
            </span>
            {% endif %}
            {% if customer.default_address.city != blank %}
            <span itemprop="addressLocality"> {{ customer.default_address.city }}
            </span>
            {% endif %}
            {% if customer.default_address.province != blank %}
            <span itemprop="addressRegion">{{ customer.default_address.province }}</span>
            {% endif %}
            {% if customer.default_address.country != blank %}
            <span itemprop="addressRegion"> {{ customer.default_address.country }} </span>
            {% endif %}
            {% if customer.default_address.zip != blank %}
            <span itemprop="postalCode"> {{ customer.default_address.zip }} </span>
            {% endif %}
          </div>
          {% if customer.default_address.phone != blank %}
          <span itemprop="telephone"> <a href="tel://{{customer.default_address.phone}}">{{
              customer.default_address.phone
              }}</a> </span>
          {% endif %}
        </div>
      </address>
      <br>
      <br>
      <a href="{{ routes.account_addresses_url }}">
        {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})
      </a>
    </div>
  </div>
</div>
