<section class="drawer" id="drawer-name" data-drawer-target>
  <div class="drawer__overlay" data-drawer-close tabindex="-1"></div>
  <div class="drawer__wrapper">
    <div class="drawer__header">
      <div class="drawer__title">
        Mini Bag
        <i>
          <span class="cart-item-count"> {{ cart.item_count }} </span> item(s) in bag
        </i>
      </div>
      <button class="drawer__close" data-drawer-close aria-label="Close Drawer"></button>
    </div>
    <div class="drawer__content" id="cart__drawer">

      <div class="cart-item-no" {% if cart.item_count> 0 %} hidden {% endif %} >
        Your shopping bag is empty.
      </div>

      <div class="cart-popup">
        <form action="/cart" method="post" novalidate>
          <div class="cartpopup-body " id="cart__drawer_items">

            {% for item in cart.items %}
            <div class="cartpopup-item ">
              <div class="cartpopup-item-image">
                <a href="{{ item.url | within: collection }}">
                  <img loading="lazy" class="blur-up responsive-image__image lazyload cart-item__image"
                    src="{{ item.image | image_url: width: 300, format: 'pjpg' }}"
                    data-src="{{ item.image | image_url: width: 300, format: 'pjpg' }}"
                    data-aspectratio="{{ item.image.aspect_ratio }}" alt="{{ item.image.alt | escape }}"
                    data-sizes="auto" tabindex="-1" data-parent-fit="cover" loading="lazy" width="150" height="150">
                </a>
              </div>
              <div class="cartpopup-item-content ">
                <h5><a href="{{ item.url | within: collection }}">{{ item.product.title }}</a></h5>
                <span class="price">{{ item.price | money }}</span>
                <span class="variant">
                  {%- for option in item.options_with_values -%}
                  <dl class="option">
                    <dt>{{ option.name }}: </dt>
                    <dd>{{ option.value }}</dd>
                  </dl>
                  {%- endfor -%}
                </span>
                <span class="quantity-box" hidden>
                  <button class="quantity-button qminus" role="button" type="button"
                    data-variant="{{ item.variant.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-minus-circle">
                      <circle cx="12" cy="12" r="10"></circle>
                      <line x1="8" y1="12" x2="16" y2="12"></line>
                    </svg>
                  </button>
                  <input class="quantity-input" type="number" name="updates[]" id="updates_{{ item.key }}"
                    value="{{ item.quantity }}" min="1" />
                  <button class="quantity-button qplus" role="button" type="button"
                    data-variant="{{ item.variant.id }}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-plus-circle">
                      <circle cx="12" cy="12" r="10"></circle>
                      <line x1="12" y1="8" x2="12" y2="16"></line>
                      <line x1="8" y1="12" x2="16" y2="12"></line>
                    </svg>
                  </button>
                </span>
                <span class="delete">
                  <a class="remove" data-variant="{{ item.variant.id }}"
                    href="/cart/change?line={{ forloop.index }}&amp;quantity=0">
                    <svg width="16" height="16">
                      <use href="#trash-mini" />
                    </svg>
                    Remove</a>
                </span>
              </div>
            </div>
            <!-- Each item -->
            {% endfor %}
          </div>
        </form>
      </div>
    </div>
    <div class="drawer__footer">
      <div class="cartpopup-total">
        <span>Total</span>
        <span class="price">{{ cart.total_price | money }}</span>
      </div>
      <div class="cartpopup-buttons">
        <!-- <button class="cartpopup-button" type="submit" name="checkout">Checkout</button> -->
        <a class="cartpopup-button-alter" href="{{ routes.cart_url }}">Your Cart</a>
      </div>
    </div>
  </div>
</section>


<script>



  $('.varients-item').on('click', function () {
    var obj = $(this);
    var variants_id = $(this).attr("data-variant");
    $.ajax({
      type: 'POST',
      url: '/cart/add.js',
      data: {
        quantity: 1,
        id: variants_id
      },
      dataType: 'json',
      success: function (data) {
        $.ajax({
          type: 'GET',
          dataType: 'jsonp',
          url: '/cart.json',
          success: function (cart) {

            var item_count = cart['item_count'];
            var total_price = cart['total_price'] / 100;

            //If there are items in cart
            if (item_count > 0) {
              // cart count
              $('.cart-item-count').text(item_count);

              // mini cart data
              $('.cart-popup').attr('id', 'cartPopup');
              $('.cartpopup-total .price').text('£' + total_price.toFixed(2));


              var cart_list = [];

              for (var i = 0; i < item_count; i++) {
                if (cart['items'][i]['id'] != null) {
                  var item_id = cart['items'][i]['id'];
                  var product_title = cart['items'][i]['product_title'];
                  // var product_title = data['items'][i]['title'];
                  var product_handle = cart['items'][i]['handle'];
                  var quantity = cart['items'][i]['quantity'];
                  var line_price = cart['items'][i]['price'] / 100;
                  var url = cart['items'][i]['url'];
                  var image_url = cart['items'][i]['image'];
                  var variants = cart['items'][i]['variant_options'];

                  if (product_title == 'Gift Wrap') {
                    var product_url = product_title;
                  } else {
                    var product_url = '<a href="' + url + '">' + product_title + '</a>';
                  }

                  var options = [];
                  for (var o = 0; o < variants.length; o++) {
                    var selected = cart['items'][i]['variant_options'][o];
                    if (selected !== 'Default Title') {
                      options.push(selected + '<br>');
                    }
                  };
                  var selected_options = options.join('');

                  cart_list.push(
                    '<div class="cartpopup-item ">' +
                    '<div class="cartpopup-item-image">' +
                    '<a href="' + url + '">' +
                    '<img class="img-fluid d-block" src="' + image_url + '"  alt="' + product_title + '" />' +
                    '</a>' +
                    '</div>' +
                    '<div class="cartpopup-item-content ">' +
                    '<h5>' + product_url + '</h5>' +
                    '<span class="variant">' + selected_options + '</span>' +
                    '<span class="price">£' + total_price.toFixed(2) + '</span>' +
                    '<div class="quantity-box ">' +
                    '<button class="quantity-button qminus" role="button" type="button" data-variant="' + item_id + '"><i class="fal fa-minus"></i></button>' +
                    '<input class="quantity-input" type="number" disabled name="updates[]" id="updates_' + item_id + '" value="' + quantity + '" min="1" />' +
                    '<button class="quantity-button qplus" role="button" type="button" data-variant="' + item_id + '"><i class="fal fa-plus"></i></button>' +
                    '</div>' +
                    '<div class="">' +
                    '<a class="remove" data-cart-remove-id="' + item_id + '" href="/cart/change?line=' + item_count + '&amp;quantity=0">Remove</a>' +
                    '</div>' +
                    '</div>' +
                    '</div>'
                  );
                } //endif
              }; // endfor

              $('.cartpopup-body').html(cart_list.join(''));
            }
          }
        });
      }
    });
  });

  $('.cart-popup .cartpopup-body ').on('click', '.quantity-button.qminus', function () {
    console.log('minus');
    if ($(this).next().val() > 1) {
      var quantityItem = $(this).next().val(+$(this).next().val() - 1);
    }
    var vId = $(this).attr("data-variant");
    var quantityVal = $(this).next().val();
    $.ajax({
      type: 'POST',
      url: '/cart/change.js',
      dataType: 'json',
      data: {
        quantity: quantityVal,
        id: vId
      },
      success: function (data) {
        $.ajax({
          type: 'GET',
          dataType: 'jsonp',
          url: '/cart.json',
          success: function (cart) {
            var item_count = cart['item_count'];
            var total_price = cart['total_price'] / 100;
            console.log(item_count);
            if (item_count > 0) {
              $('.cart-item-count').text(item_count);

              // mini cart data
              $('.cart-popup').attr('id', 'cartPopup');
              $('.cartpopup-total .price').html('<span class="price"><span class="money" data-currency-inr="' + total_price.toFixed(2) + '">' + total_price.toFixed(2) + '</span></span> ');
            }
          }
        });
      }
    });
  });

  $('.cart-popup .cartpopup-body').on('click', '.quantity-button.qplus', function () {
    console.log('olus');
    $(this).prev().val(+$(this).prev().val() + 1);
    var vId = $(this).attr("data-variant");
    var quantityVal = $(this).prev().val();
    $.ajax({
      type: 'POST',
      url: '/cart/add.js',
      dataType: 'json',
      data: {
        quantity: 1,
        id: vId
      },
      success: function (data) {
        $.ajax({
          type: 'GET',
          dataType: 'jsonp',
          url: '/cart.json',
          success: function (cart) {
            var item_count = cart['item_count'];
            var total_price = cart['total_price'] / 100;
            console.log(item_count);
            if (item_count > 0) {
              $('.cart-item-count').text(item_count);

              // mini cart data
              $('.cart-popup').attr('id', 'cartPopup');
              $('.cartpopup-total .price').html('<span class="price"><span class="money" data-currency-inr="' + total_price.toFixed(2) + '">' + total_price.toFixed(2) + '</span></span> ');
            }
          }
        });
      }
    });
  });

  // remove
  $('.removeCta, .cart-popup .cartpopup-body').on('click', '.cartpopup-item .remove', function (e) {
    var obj = $(this);
    e.preventDefault();
    e.stopPropagation();
    var productId = $(this).attr('data-variant');

    $.ajax({
      type: 'POST',
      url: '/cart/change.js',
      dataType: 'json',
      data: {
        quantity: 0,
        id: productId
      },
      success: function (data) {
        $.ajax({
          type: 'GET',
          dataType: 'jsonp',
          url: '/cart.json',
          success: function (cart) {

            var item_count = cart['item_count'];
            var total_price = cart['total_price'] / 100;

            $('.cart-count').text(item_count);
            $('.cart-count').text(item_count);

            if (item_count == 0) {
              $('.cart-item-no').removeAttr('hidden');
              $('.cart-count').attr('hidden', 'hidden');
            }
            $('.cart-item-count').text(item_count);

            // mini cart data
            $('.cartpopup-total .price').html('<span class="price"><span class="money" data-currency-inr="' + total_price.toFixed(2) + '">' + total_price.toFixed(2) + '</span></span> ');

            // Remove item
            $(obj).parents('.cartpopup-item').remove();

          }
        });
      }
    });
  });

</script>
