<header class="header">
  <!-- header navigation -->
  <div class="header-container">
    <div class="header-action-list">
      <div class="header-action-list-logo">
        <div  class="header-menu">
          <div class="cd-nav-trigger">
            <svg width="24" height="24" class="burgerMenu active">
              <use href="#menu" />
            </svg>
            <svg width="24" height="24" class="closeMenu">
              <use href="#close" />
            </svg>
          </div>
        </div>
        {% if request.page_type == 'index' %}
        <h1 class="header-logo header__heading" itemscope itemtype="http://schema.org/Organization">
          {% endif %}
          <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset" itemprop="url">
            {% if section.settings.logo != blank %}
            {% assign logo_alt = section.settings.logo.alt | default: shop.name | escape %}
            {% assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio %}
            {{ section.settings.logo | image_url: width: section.settings.width, format: 'pjpg' | image_tag:
            class: 'header__heading-logo',
            widths: '50, 100, 150, 200, 250, 300, 400, 500',
            height: logo_height,
            width: section.settings.logo_width,
            alt: logo_alt
            }}
            {% else %}
            <span class="h2">{{ shop.name }}</span>
            {% endif %}
          </a>
          {% if request.page_type == 'index' %}
        </h1>
        {% endif %}
      </div>

      <div class="header-action-list-icon">
        <div class="header-currency-price-list">
          <span class="default-currency"> INR</span>
        </div>
        <div class="header-search">
          <svg width="24" height="24">
            <use href="#search" />
          </svg>
        </div>
        <div class="header-wishlist">
          <a href="#swym-wishlist" class="swym-wishlist">
          <svg width="24" height="24">
            <use href="#heart" />
          </svg>
        </a>
        </div>
        <div class="header-cart">
          <!-- <a href="{{ routes.cart_url }}" class="site-header__icon site-header__cart" id="cart-icon-bubble" data-drawer-trigger aria-controls="drawer-name" aria-expanded="false"> -->
          <a title="cart" href="#" class="site-header__icon site-header__cart" id="cart-icon-bubble" data-drawer-trigger
            aria-controls="drawer-name" aria-expanded="false">
            <svg width="24" height="24">
              <use xlink:href="#bag" />
            </svg>

            <div class="cart-count" {% if cart.item_count==0 %} hidden {% endif %}>
              {% if cart.item_count < 100 %} <span aria-hidden="true">{{ cart.item_count }}</span>
                {% endif %}
            </div>
          </a>
        </div>
        <div class="header-account">
          {% if shop.customer_accounts_enabled %}
            {% if customer %}
              <a href="/account" class="header__icon header__icon--account icon-customer-name{% if section.settings.menu != blank %} small-hide{% endif %}">
                {{customer.first_name | slice: 0 }}
                </a>
              {% else %}
              <a href="{{ routes.account_login_url }}"
                class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
                <svg width="24" height="24">
                  <use href="#user" />
                </svg>
              </a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <!-- navigation list -->
  <div class="header-container">
    <nav class="header-nav-list-main" role="navigation">
      <ul class="menu-level-1">
        {% for link in linklists.desktop-menu.links %}
        <li
          class="menu-level-1-item {{ link.title | handle }} {% if link.links.size > 0 %} menu-level-1-item-child {% endif %} {% if link.active %}menu-itemActive{% endif %} ">
          <a href="{{ link.url }}?filter.v.availability=1" {% if link.active %}aria-current="page" {% endif %}>
            {{ link.title }}
            {% if link.links.size > 0 %}
            {% render 'icon-chevron-down' %}
            {% endif %}
          </a>
          {% if link.links != blank %}
          <div class="second-menu">
            <ul class="menu-level-2" data-menu-title="{{ link.title | handle }}">
              {% for child_link in link.links %}
              <li class="menu-level-2-item  {% if child_link.active %}menu-itemActive{% endif %}">
                <a href="{{ child_link.url }}?filter.v.availability=1" {% if child_link.active %}aria-current="page" {%
                  endif %}>
                  {{ child_link.title }}
                  {% for block in section.blocks %}
                  {% if child_link.title == block.settings.mega_link %}
                  {% if block.settings.image.src != blank %}
                  <img class="menu-level-2-item-titleImage" loading="lazy"
                    src="{{ block.settings.image.src | image_url:  width: 500, height: 500, format: 'pjpg' }}"
                    alt="{{ block.settings.image.alt }}">
                  {% endif %}
                  {% endif %}
                  {% endfor %}
                </a>
                {% if child_link.links != blank %}
                <ul class="menu-level-3">
                  {% for grandchild_link in child_link.links %}
                  <li class="menu-level-3-item {% if grandchild_link.active %}menu-itemActive{% endif %}">
                    <a href="{{ grandchild_link.url }}?filter.v.availability=1"
                      {% if grandchild_link.active %}aria-current="page" {% endif %}>
                      {{ grandchild_link.title }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <!-- mobile navigation-list -->
  <nav class="header-mobile-navigation-list">
    <div class="Drawer__Container">
      <ul id="cd-primary-nav" class="cd-primary-nav is-fixed nav-is-visible menu">
        {% for link in linklists.mobile-menu.links %}
        <li {% if link.active %}aria-current="page" {% endif %}
          class="{% if link.links.size > 0 %} has-children {% else %} menu-link {% endif %}  {% if link.active %}menu-itemActive{% endif%}">
          <a {% if link.active %}aria-current="page" {% endif %}
            href="{% if link.links.size > 0 %}javascript:void(0);{% else %}{{ link.url }}?filter.v.availability=1{% endif %}">{{
            link.title }}
            {% if link.links.size > 0 %} {% render 'icon-chevron-right' %}{% endif %}</a>
          {% if link.links.size > 0 %}
          <ul class="is-hidden cd-secondary-nav menu dropdown-child">
            {% for child_link in link.links %}
            <li class="menu-link {% if child_link.active %}menu-itemActive{% endif%}" {% if link.active
              %}aria-current="page" {% endif %}>
              <a {% if link.active %}aria-current="page" {% endif %}
                href="{{ child_link.url }}?filter.v.availability=1">{{ child_link.title }}</a>
              {% if child_link.links.size > 0 %}
              <ul class="menu dropdown-grandchild">
                {% for grandchild_link in child_link.links %}
                <li {% if link.active %}aria-current="page" {% endif %}
                  class="menu-link {% if grandchild_link.active %}menu-itemActive{% endif%}">
                  <a {% if link.active %}aria-current="page" {% endif %}
                    href="{{ grandchild_link.url }}?filter.v.availability=1">{{ grandchild_link.title }}</a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </nav>
</header>

{% comment %}
TODO: Add labels
hot
new
sales
TODO: Mega menu
Image item
Image item location
Image URL
TODO: Menu, Sale text color and Image for special occasion
{% endcomment %}
{% schema %}
{
"name": "t:sections.header.name",
"class": "section-header",
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": "t:sections.header.settings.logo.label"
},
{
"type": "range",
"id": "logo_width",
"min": 50,
"max": 250,
"step": 10,
"default": 100,
"unit": "t:sections.header.settings.logo_width.unit",
"label": "t:sections.header.settings.logo_width.label"
},
{
"type": "link_list",
"id": "menu",
"default": "main-menu",
"label": "Desktop Menu"
},
{
"type": "link_list",
"id": "mobile_menu",
"label": "Mobile Menu"
},
{
"type": "select",
"id": "sticky_menu",
"label": "Sticky Menu",
"options": [
{
"value": "sticky",
"label": "sticky"
},
{
"value": "non-sticky",
"label": "Non Sticky"
}
],
"default": "sticky"
}

],
"blocks": [
{
"type": "logo_image",
"name": "Mega logo",
"settings": [
{
"type": "checkbox",
"id": "menu_enable",
"label": "Enable this section",
"default": true
},
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "text",
"id": "mega_link",
"label": "Select menu",
"default": "1"
},
{
"type": "url",
"id": "link",
"label": "Main Link"
},
{
"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "text",
"id": "subtitle",
"label": "Sub title"
}
]
}
]
}
{% endschema %}
