<header class="header">
  <!-- header navigation -->
  <div class="header-container">
    <div class="header-action-list">
      <div class="header-menu">
        <div class="cd-nav-trigger">
          <svg width="24" height="24" class="burgerMenu active">
            <use href="#menu" />
          </svg>
          <svg width="24" height="24" class="closeMenu">
            <use href="#close" />
          </svg>
        </div>
      </div>
      {% if request.page_type == 'index' %}
      <h1 class="header-logo header__heading" itemscope itemtype="http://schema.org/Organization">
        {% endif %}
        <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset" itemprop="url">
          {% if section.settings.logo != blank %}
          {% assign logo_alt = section.settings.logo.alt | default: shop.name | escape %}
          {% assign logo_height = section.settings.logo_width | divided_by: section.settings.logo.aspect_ratio %}
          {{ section.settings.logo | image_url: width: section.settings.width | image_tag:
          class: 'header__heading-logo',
          widths: '50, 100, 150, 200, 250, 300, 400, 500',
          height: logo_height,
          width: section.settings.logo_width,
          alt: logo_alt
          }}
          {% else %}
          <span class="h2">{{ shop.name }}</span>
          {% endif %}
        </a>
        {% if request.page_type == 'index' %}
      </h1>
      {% endif %}
      <div class="header-action-lists">
        <div class="header-search">
          <svg width="24" height="24">
            <use href="#search" />
          </svg>
        </div>
        <div class="header-wishlist" style="display: none;">
          <svg width="24" height="24">
            <use href="#heart" />
          </svg>
        </div>
        <div class="header-cart">
          <a href="{{ routes.cart_url }}" class="" id="cart-icon-bubble">
            <svg width="24" height="24">
              <use xlink:href="#bag" />
            </svg>
            {% if cart != empty %}
            <div class="cart-count">
              {% if cart.item_count < 100 %} <span aria-hidden="true">{{ cart.item_count }}</span>
                {% endif %}
                <!-- <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span> -->
            </div>
            {% endif %}
          </a>
        </div>
        <div class="header-account">
          {% if shop.customer_accounts_enabled %}
          <a href="{% if customer  %}{{ routes.account_url }}{% else  %}{{ routes.account_login_url }}{% endif  %}"
            class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
            <svg width="24" height="24">
              <use href="#user" />
            </svg>
          </a>
          {% endif %}
        </div>
        <div class="header-currency-price-list">
          INR
        </div>
      </div>
    </div>
  </div>
  <!-- mobile navigation -->
  <nav class="header-nav-list-footer">
    <a href="{{ routes.root_url }}">
      <svg width="24" height="24">
        <use href="#menu" />
      </svg>
      <span>Home</span>
    </a>
    <div class="header-wishlist">
      <svg width="24" height="24">
        <use href="#heart" />
      </svg>
      <span>Categories</span>
    </div>
    <div class="header-cart">
      <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link focus-inset" id="cart-icon-bubble">
        <svg width="24" height="24">
          <use xlink:href="#bag" />
        </svg>
        <span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
        {% if cart != empty %}
        <div class="cart-count">
          {% if cart.item_count < 100 %} <span aria-hidden="true">{{ cart.item_count }}</span>
            {% endif %}
            <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
        </div>
        {% endif %}
      </a>
    </div>
    <div class="header-account">
      {% if shop.customer_accounts_enabled %}
      <a href="{% if customer  %}{{ routes.account_url }}{% else  %}{{ routes.account_login_url }}{% endif  %}"
        class="header__icon header__icon--account link focus-inset{% if section.settings.menu != blank %} small-hide{% endif %}">
        <svg width="24" height="24">
          <use href="#user" />
        </svg>
        <span class="visually-hidden">
          {% liquid
          if customer
          echo 'customer.account_fallback' | t
          else
          echo 'customer.log_in' | t
          endif
          %}
        </span>
      </a>
      {% endif %}
    </div>
  </nav>
  <!-- search area -->
  <div class="header-search-area-wrapper" style="display: none;">
    <div class="header-search-area-containerWrapper">
      <div class="header-search-area-container">
        <predictive-search>
          <form action="{{ routes.search_url }}" method="get" role="search">
            <div class="predictive-search ">
              <i class="input__search-icon">
                <svg width="24" height="24">
                  <use href="#search" />
                </svg>
              </i>
              <label hidden for="Search">Search</label>
              <input class="input-full" id="Search" type="search" name="q" placeholder="Search products ..."
                value="{{ search.terms | escape }}" {%- if settings.predictive_search_enabled -%} role="combobox"
                aria-expanded="false" aria-owns="predictive-search-results-list"
                aria-controls="predictive-search-results-list" aria-haspopup="listbox" aria-autocomplete="list"
                autocorrect="off" autocomplete="off" autocapitalize="off" spellcheck="false" {%- endif -%}>
              <i class="input__close-icon">
                <svg width="24" height="24">
                  <use href="#close" />
                </svg>
              </i>
              <input name="options[prefix]" type="hidden" value="last">
            </div>
            <div id="predictive-search" tabindex="-1"></div>
          </form>
        </predictive-search>
      </div>
    </div>
  </div>
  <!-- navigation list -->
  <div class="header-container">
    <nav class="header-nav-list-main" role="navigation">
      <ul class="menu-level-1">
        {% for link in linklists.main-menu.links %}
        <li
          class="menu-level-1-item {% if link.links.size > 0 %} menu-level-1-item-child {% endif %} {% if link.active %}menu-active{% endif %} {% if link.child_active %}menu-child-active{% endif %}">
          <a href="{{ link.url }}" {% if link.active %}aria-current="page" {% endif %}>
            {{ link.title }}
            {% if link.links.size > 0 %}
            {% render 'icon-chevron-down' %}
            {% endif %}
          </a>
          {% if link.links != blank %}
          <div class="second-menu">
            <ul class="menu-level-2" data-menu-title="{{ link.title | downcase }}">
              {% for child_link in link.links %}
              <li class="menu-level-2-item">
                <a href="{{ child_link.url }}" {% if child_link.active %}aria-current="page" {% endif %}>
                  {% for block in section.blocks %}
                  {% if child_link.title == block.settings.mega_link %}
                  <img src="{{ block.settings.image.src | image_url:  width: 500, height: 500 }}" alt="{{ block.settings.image.alt }}">
                  {% endif %}
                  {% endfor %}
                  {{child_link.title}}
                </a>
                {% if child_link.links != blank %}
                <ul class="menu-level-3">
                  {% for grandchild_link in child_link.links %}
                  <li class="menu-level-3-item">
                    <a href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page" {% endif %}>
                      {{ grandchild_link.title }}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <!-- mobile navigation-list -->
  <nav class="header-mobile-navigation-list">
    <div class="Drawer__Container">
      <ul id="cd-primary-nav" class="cd-primary-nav is-fixed nav-is-visible menu">
        {% for link in linklists.mobile-menu.links %}
        <li class="{% if link.links.size > 0 %} has-children {% else %} menu-link {% endif %}">
          <a href="{{ link.url }}">{{ link.title }}</a>
          {% if link.links.size > 0 %}
          <ul class="is-hidden cd-secondary-nav menu dropdown-child">
            {% for child_link in link.links %}
            <li class="menu-link">
              <a href="{{ child_link.url }}">{{ child_link.title }}</a>
              {% if child_link.links.size > 0 %}
              <ul class="menu dropdown-grandchild">
                {% for grandchild_link in child_link.links %}
                <li class="menu-link">
                  <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                </li>
                {% endfor %}
              </ul>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    </div>
    </nav>
</header>

{% comment %}
TODO: Add labels
hot
new
sales
TODO: Mega menu
Image item
Image item location
Image URL
TODO: Menu, Sale text color and Image for special occasion
{% endcomment %}
{% schema %}
{
"name": "t:sections.header.name",
"class": "section-header",
"settings": [
{
"type": "image_picker",
"id": "logo",
"label": "t:sections.header.settings.logo.label"
},
{
"type": "range",
"id": "logo_width",
"min": 50,
"max": 250,
"step": 10,
"default": 100,
"unit": "t:sections.header.settings.logo_width.unit",
"label": "t:sections.header.settings.logo_width.label"
},
{
"type": "link_list",
"id": "menu",
"default": "main-menu",
"label": "Desktop Menu"
}
],
"blocks": [
{
"type": "logo_image",
"name": "Mega logo",
"settings": [
{
"type": "checkbox",
"id": "menu_enable",
"label": "Enable this section",
"default": true
},
{
"type": "image_picker",
"id": "image",
"label": "Image"
},
{
"type": "text",
"id": "mega_link",
"label": "Select menu",
"default": "1"
},
{
"type": "url",
"id": "link",
"label": "Main Link"
},
{
"type": "text",
"id": "title",
"label": "Title"
},
{
"type": "text",
"id": "subtitle",
"label": "Sub title"
}
]
}
]
}
{% endschema %}
