{% assign my_array = section.settings.collection-list | split: "| " %}
{% assign collection = collections[ section.settings.show_collection ] %}

{% for item in my_array %}
<a class="section-header-action_link" href="/collections/{{item}}">
  {{ forloop.index }} - {{item}}
</a>
{% assign collection = collections[item] %}
<div class="test--product-card--grid">
  {% for product in collection.products limit:1 %}
  {% unless
  section.settings.show_soldout != false
  and
  product.available != true %}
  <div class="test--product-card">
    <a href="{{product.url | within: collection }}" class="product-link">
      {{ product.featured_image | image_url: width: 400, height: 400, crop: 'bottom' | image_tag : class:
      'product-image', loading: 'lazy', alt: product.feature_image.alt}}
      <h2 class="product-title">{{ product.title }}</h2>
      <p class="product-money"> {{ product.price | money }} </p>
      {% if  product.available != true %}
      <span class="product-label-soldout"> sold out </span>
      {% endif %}
    </a>
  </div>
  {% endunless %}
  {% endfor %}
</div>
{% endfor %}

<hr>

{% if my_array.size == 3 %}
<section>
  <div class="section-header-wrapper">
    <div class="section-header text-left" style="flex: 1 0 auto;">
      <div class="section-header-title">{{ section.settings.just-dropped-title }}</div>
      <div class="section-header-content">{{ section.settings.just-dropped-description }}</div>
    </div>
    {{my_array.size}}
    {{my_array[0]}}
    {{my_array[1]}}
    {{my_array[2]}}
    <nav class="section-header-nav__list">
      {% for item in my_array %}
      <a class="section-header-action_link" href="/collections/{{item}}">
        {{ forloop.index }} - {{item}}
      </a>
      {% endfor %}
      <a class="section-header-action_link" href="/collections/all">
        View All
        <svg width="20" height="20">
          <use href="#link-arrow" />
        </svg>
      </a>
    </nav>
  </div>
  {% else %}
{% endif %}

<br>

</section>


{% schema %}
{
"name": "Just Dropped Section",
"class": "homepage-section",
"tag": "section",
"settings": [
{
"type": "text",
"id": "just-dropped-title",
"label": "Section Title",
"default": "Just Dropped"
},
{
"type": "text",
"id": "just-dropped-description",
"label": "Section Description",
"default": "New arrivals you will love"
},
{
"type": "number",
"id": "just-dropped-count",
"label": "Product Count",
"default": 10
},
{
"type": "text",
"id": "collection-list",
"label": "Collection List"
}
]
}
{% endschema %}
