<section class="home-page-readymade-section">
  <div class="section-header-wrapper">
    <div class="section-header text-center">
      <div class="section-header-title">{{ section.settings.readymade-title }}</div>
      <div class="section-header-content">{{ section.settings.readymade-description }}</div>
    </div>
  </div>
  <div class="section-content collection-readymade">
    {% for block in section.blocks %}
    {% if block.settings.image %}
    <div class="collection-item">
      <a class="collection-item-link" href="{{ block.settings.link }}">
        <img class="lazyload" data-sizes="auto" data-src="{{block.settings.image.src | image_url: width:384, height: 384, crop: 'top' }}"
          alt="{{block.settings.image.alt}}">
        <!-- {{ block.settings.image | image_url : width: 384, height: 384, crop: bottom | image_tag : alt: block.settings.image.alt,
      class: "collection-item-image" }} -->
      </a>
    </div>
    {% else %}
    <div class="collection-item">
      <a class="collection-item-image" href="#">
        {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
      </a>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Ready Made Section",
  "class": "homepage-section home-page-readymade-section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "readymade-title",
      "label": "Section Title",
      "default": "Ready Made collection"
    },
    {
      "type": "text",
      "id": "readymade-description",
      "label": "Section Description",
      "default": "Styles for every occasion"
    }
  ],
  "blocks": [
    {
      "type": "readymade-image",
      "name": "Readymade Image Section",
      "limit": 6,
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Image link"
        }
      ]
    }
  ]
}
{% endschema %}
