<section class="home-page-silver-section"
  style="background-image: url({{section.settings.collaborate-background-pattern | image_url }}), url({{section.settings.collaborate-background | image_url }}); --toolColor: {{section.settings.collaborate-border-color}}">
  <div class="section-header text-center">
    <div class="section-header-title">
      {{section.settings.collaborate-title}}
    </div>
    <div class="section-header-content" style="background-color: {{section.settings.collaborate-hover-color}} ">
      {{section.settings.collaborate-description}}</div>
  </div>
  <div class="section-content">
    <nav>
      {% for block in section.blocks %}
      {% if block.settings.image != blank %}
      <a href="{{block.settings.url}}">
        {{ block.settings.image | image_url : width: 168, height: 168 | image_tag : alt: block.settings.image.alt }}
        <div class="section-Name">
          {{block.settings.contentTitle}}
        </div>
      </a>
      {% else %}
      {{ 'product-1' | placeholder_svg_tag: 'placeholder-svg' }}
      {% endif %}
      {% endfor %}
    </nav>
  </div>
</section>
{% schema %}
{
"name": "Collaboration Section",
"tag": "section",
"class": "homepage-section",
"settings": [
{
"type": "text",
"id": "collaborate-title",
"label": "Section Title",
"default": "Athirshtam Jewellery"
},
{
"type": "text",
"id": "collaborate-description",
"label": "Section Description",
"default": "An eclectic silver jewellery collection embedded with cultural and contemporary nuances"
},
{
"type": "image_picker",
"id": "collaborate-background",
"label": "Background"
},
{
"type": "image_picker",
"id": "collaborate-background-pattern",
"label": "Background Pattern"
},
{
"type": "image_picker",
"id": "collaborate-background-edge",
"label": "Background Edge"
},
{
"type": "color",
"id": "collaborate-border-color",
"label": "Border Color"
},
{
"type": "color",
"id": "collaborate-hover-color",
"label": "Hover Color"
}
],
"blocks": [
{
"type": "image",
"name": "Collaboration Item",
"limit": 6,
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
},{
"type": "text",
"id": "contentTitle",
"label": "Text"
},
{
"type": "url",
"id": "link",
"label": "Link"
}
]
}
]
}
{% endschema %}
