<section class="home-page-spotlight-section">
  <div class="spot-light">
    <div class="section-header-wrapper">
      <div class="section-header text-left">
        <div class="section-header-title">{{ section.settings.spotlight-title }}</div>
        <div class="section-header-content">
          <p>{{ section.settings.spotlight-description }}</p>
        </div>
        <a class="section-header-action_link" href="{{ section.settings.spotlight-url }}">
          View All
          <svg width="20" height="20">
            <use href="#link-arrow" />
          </svg>
        </a>
      </div>
    </div>
    <div class="section-content product-collection-list">
        <div class="product-grid-list-three">
          {% assign collection = collections[ section.settings.spotlight-collection ] %}
          {% assign collectionCount = 6 %}
          {% for product in collection.products limit: collectionCount %}
          <div class="product__card">
            <div class="product__card--img">
              <a href="{{ product.url | within: collection }}" class="product-link">
                <div class="product__image--wrapper prpdocutSlider"
                  data-slick='{"autoplay": true, "cssEase": "linear", "slidesToShow": 1, "slidesToScroll": 1, "autoplaySpeed": 1000, "fade": true, "arrows": false, "dots": true, "adaptiveHeight": true }'>
                  {% if product.featured_image != blank %}
                  <div>
                    <img loading="auto" alt="{{ product.featured_image.alt }}" width="328" height="463"
                      src=" {{ product.featured_image.src | image_url: width:328, height:463 }} ">
                  </div>
                  {% for image in product.images offset:1 %}
                  <div>
                    <img loading="lazy" alt="{{ image.alt }}" width="328" height="463"
                      src=" {{ image.src | image_url: width:328, height:463 }} ">
                  </div>
                  {% endfor %}

                  {% else %}
                  {{ 'product-1' | placeholder_svg_tag: 'product-img' }}
                  {% endif %}
                </div>
                <div class="product__status">
                  {% unless product.available %}
                  <!-- TODO: Sold out chip color -->
                  <span class="product__status-soldout">sold out</span>
                  {% endunless %}
                </div>
              </a>
              <div class="product__card-cta quick-view-button">
                <a class="quick-view" data-handle="{{ product.handle }}">Quick View</a>
              </div>
            </div>
            <div class="product__card--content">
              <a href="{{ product.url | within: collection }}" class="product-link">
                <h2 itemprop="name" class="product__title">{{ product.title }}</h2>
                <div class="product__variant--price">
                  {% if product.price_varies %}
                  <p>From {{ product.price_min | money_with_currency }} to {{ product.price_max | money_without_currency }}
                  </p>
                  {% else %}
                  <p>
                    {% if product.compare_at_price_max > product.price %}
                    <span><s>{{ product.compare_at_price_max | money_with_currency }}</s></span>
                    <span>{{ product.price | money_with_currency }}</span>
                    {% else %}
                    <span>{{ product.price | money_with_currency }}</span>
                    {% endif %}
                  </p>
                  {% endif %}
                </div>
              </a>
            </div>
          </div>
          {% endfor %}
        </div>

      <a href="{{section.settings.spotlight-url}}" type="button">View All</a>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Spotlight Section",
  "class": "homepage-section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "spotlight-title",
      "label": "Section Title",
      "default": "Sundari Spotlight"
    },
    {
      "type": "text",
      "id": "spotlight-description",
      "label": "Section Description",
      "default": "Bringing you our best sellers"
    },
    {
      "type": "collection",
      "id": "spotlight-collection",
      "label": "Collection Name"
    },
    {
      "type": "url",
      "id": "spotlight-url",
      "label": "Link URL"
    },
    {
      "type": "number",
      "id": "spotlight-count",
      "label": "Product Count",
      "default": 3
    }
  ]
}
{% endschema %}
