{% assign my_array = section.settings.collection-list | split: "| " %}
{% assign collect = 0 %}
{% assign collectionCount = section.settings.just-dropped-count %}
<div class="homepage-justdropped">
  <div class="section-header-wrapper">
    <div class="section-header text-left">
      <div class="section-header-title">{{ section.settings.just-dropped-title }}</div>
      <div class="section-header-content">{{ section.settings.just-dropped-description }}</div>
    </div>
    <div class="tab-buttton">
      {% for item in my_array %}
      <div id="titem_{{forloop.index}}" class="tab {% if forloop.first %} active {% endif %} ">
        {{item | downcase | replace: "-", " "}}
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="homepage-justdropped-content">
    <!-- TODO: Remove sold ou product from loop -->
    {% for item in my_array %}
    {% assign collect = collections[ item ] %}
    <div class="justdropped-box {% if forloop.first %} active {% endif %}" id="pitem_{{forloop.index}}">
      <div class="test--product-card--grid-four" data-mobile-count="2" data-tablet-count="3"
        data-laptop-count="4" data-desktop-count="4" data-ldesktop-count="6">

        {% for product in collect.products limit: collectionCount %}
        {% if product.available %}
        <div class="item">
        <div class="product__card">
          <div class="product__card--img">
            <a href="{{ product.url | within: collection }}" class="product__card--link">
              <div class="product__card--image--wrapper">
                {% if product.featured_image != blank %}
                <!-- [200,400,600,700,800,900,1000,1200] -->
                <img loading="lazy" id="Image-{{ image.id }}" class="blur-up responsive-image__image lazyload"
                  src="{{ product.featured_image | image_url: width: '300x', format: 'pjpg' }}"
                  data-src="{{ product.featured_image | image_url: width: '300x', format: 'pjpg' }}"
                  data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                  data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-sizes="auto"
                  data-parent-fit="cover" alt="{{ product.feature_image.alt }}">
                {% comment %}
                {% endcomment %}
                {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'product-img' }}
                {% endif %}
                <div class="product__card--status">
                  {% unless product.available %}
                  <!-- TODO: Sold out chip color -->
                  <span class="product__card--status-soldout">sold out</span>
                  {% endunless %}
                </div>
              </div>
            </a>
            <div class="product__card-cta quick-view-button">

            </div>
          </div>
          <div class="product__card--content">
            <a href="{{ product.url | within: collection }}" class="product__card--link">
              <h2 itemprop="name" class="product__title">{{ product.title }}</h2>
              <div class="product__variant--price">
                {% if product.price_varies %}
                <p>From {{ product.price_min | money_with_currency }} to {{ product.price_max | money_without_currency }}</p>
                {% else %}
                <p>
                  {% if product.compare_at_price_max > product.price %}
                  <span><s>{{ product.compare_at_price_max | money_with_currency }}</s></span>
                  <span>{{ product.price | money_with_currency }}</span>
                  {% else %}
                  <span>{{ product.price | money_with_currency }}</span>
                  {% endif %}
                </p>
                {% endif %}
              </div>
                {% if product.variants.size > 1 %}
                <div class="product__variant--list" hidden>
                  <span class="product__variant--list-title">
                    {{product.options }} :
                  </span>
                  {% for variant in product.variants %}
                  {% if variant.inventory_quantity == 0 %} <s>  {% endif %}
                  <span class="product__variant--list-name"> {{ variant.title }} </span>
                  {% if variant.inventory_quantity == 0 %} </s>  {% endif %}
                  {% endfor %}
                </div>
                {% endif %}
            </a>
          </div>
        </div>
      </div>
        {% endif %}
        {% if forloop.last == true %}
        <div class="item">
        <div class="last-card product__card product__card--explore">
          <a href="/collections/{{collect.handle}}?filter.v.availability=1">
          <div class="product__card--img">
            <div class="product__card--image--wrapper">
              <img src="https://cdn.shopify.com/s/files/1/0560/3695/0174/files/explore-all-image.jpg?v=1667893350" alt="">
            </div>
            <div class="product__card--content">
            Explore All
          </div>
          </div>
        </a>
        </div></div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% schema %}
{
"name": "Just Dropped Section",
"class": "homepage-section",
"tag": "section",
"settings": [
{
"type": "text",
"id": "just-dropped-title",
"label": "Section Title",
"default": "Just Dropped"
},
{
"type": "text",
"id": "just-dropped-description",
"label": "Section Description",
"default": "New arrivals you will love"
},
{
"type": "number",
"id": "just-dropped-count",
"label": "Product Count",
"default": 6
},
{
"type": "text",
"id": "collection-list",
"label": "Collection List",
"default": "andhra-cottons | half-fine-kanchipuram | readymades",
"info": "enter collection name and use | as separator, use only 4 collection"
}
]
}
{% endschema %}
