<section class="shopify-section homepage-section">
  <section class="virtualshopping" style="background-image: url({{ section.settings.vsvirtual-shopping-background | image_url }});">
    <a href="{{ section.settings.virtual-shopping-url }}">
      <div class="content-area">
        <h3>The Virtual Store <br> Of Exquisite Products</h3>
        <p> {{ section.settings.spotlight-description }} </p>
        <span>{{ section.settings.spotlight-button }}</span>
      </div>
      <div class="image-area">
      <img loading="lazy" class="mobile" src="{{ section.settings.vsvirtual-shopping-mobile | image_url }} " alt="{{ section.settings.spotlight-title }}">
      <img loading="lazy" class="desktop" src="{{ section.settings.vsvirtual-shopping-desktop | image_url }} " alt="{{ section.settings.spotlight-title }}">
    </div>
    </a>
  </section>
</section>


{% schema %}
{
"name": "Virtual Shopping",
"class": "homepage-virtual-shopping",
"tag": "section",
"settings": [
{
"type": "text",
"id": "spotlight-title",
"label": "Section Title",
"default": "The Virtual Store Of Exquisite Products"
},
{
"type": "text",
"id": "spotlight-description",
"label": "Section Description",
"default": "Shop our collection from the comfort of your home"
},
{
"type": "text",
"id": "spotlight-button",
"label": "Section Button",
"default": "Book an Appointment"
},
{
  "type": "image_picker",
  "id": "vsvirtual-shopping-background",
  "label": "Background Image"
  },
{
"type": "image_picker",
"id": "vsvirtual-shopping-mobile",
"label": "Virtual Image for Mobile"
},
{
"type": "image_picker",
"id": "vsvirtual-shopping-desktop",
"label": "Virtual Image for Desktop"
},
{
"type": "url",
"id": "virtual-shopping-url",
"label": "Link URL"
}
]
}
{% endschema %}
