{% assign my_array = section.settings.collection-list | split: "| " %}
{% assign collect = 0 %}
<div class="homepage-justdropped">
  <div class="section-header-wrapper">
    <div class="section-header text-left">
      <div class="section-header-title">{{ section.settings.just-dropped-title }}</div>
      <div class="section-header-content">{{ section.settings.just-dropped-description }}</div>
    </div>
    <div class="tab-buttton">
      {% for item in my_array %}
      <div id="titem_{{forloop.index}}" class="tab {% if forloop.first %} active {% endif %} ">
        {{item | downcase | replace: "-", " "}}
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="homepage-justdropped-content">
    <!-- TODO: Remove sold ou product from loop -->
    {% for item in my_array %}
    {% assign collect = collections[ item ] %}
    <div class="justdropped-box {% if forloop.first %} active {% endif %}" id="pitem_{{forloop.index}}">
      <div class="test--product-card--grid-four  display-card-grid" data-mobile-count="2"  data-tablet-count="3" data-laptop-count="4" data-desktop-count="4"  data-ldesktop-count="6">
        {% for product in collect.products limit: 12 %}
        {% render 'product-card', product:product %}
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% schema %}
{
  "name": "Just Dropped Section",
  "class": "homepage-section",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "just-dropped-title",
      "label": "Section Title",
      "default": "Just Dropped"
    },
    {
      "type": "text",
      "id": "just-dropped-description",
      "label": "Section Description",
      "default": "New arrivals you will love"
    },
    {
      "type": "number",
      "id": "just-dropped-count",
      "label": "Product Count",
      "default": 12
    },
    {
      "type": "text",
      "id": "collection-list",
      "label": "Collection List"
    },
    {
      "type": "paragraph",
      "default": "andhra-cottons | half-fine-kanchipuram | readymades"
      "content": "enter collection name and use | as separator, use only 4 collection"
    }
  ]
}
{% endschema %}
