<section data-section-id="{{ section.id }}" class="mult-product-section">
  <div class="section-header-wrapper">
    <div class="section-header text-center">
      <div class="section-header-title">{{ section.settings.headingText }}</div>
      <div class="section-header-content">
        <p>{{ section.settings.paragraphText }}</p>
      </div>
    </div>
  </div>
  <div class="image-container">
    <div class="large-image-products">
      <img src="{{ section.settings.largeImage | img_url: '1000x' }}" alt="">
      {%- for block in section.blocks -%}
      <a href="{{ block.settings.productURL }}">
      <div class="dot {% if forloop.first%}active{% endif %}" data-handle="{{block.settings.block_product}}"
        style="top: {{block.settings.vertical}}%; left: {{block.settings.horizontal}}%;  "></div>
      </a>
      {% endfor %}
    </div>
    <div id="product" class="product-container"></div>
  </div>
</section>

<script src="{{ 'custom-scripts.js' | asset_url }}"></script>
<script>
  console.log('product');
  var $product_container = $('#product');
  var initial_product = multi_products[0];
  console.log(initial_product);

  var initial_product_html = `<div class="product">
    <img src="${initial_product.image}">
    <h3>${initial_product.title}</h3>
    <p>${initial_product.price}</p>
    <a class="button" href="${initial_product.url}">Shop this product</a>
    </div>`;

  $product_container.html(initial_product_html);

  $('body').on('click', '.dot', function () {
    $('.dot').removeClass('active')
    $(this).addClass('active')

    var handle = $(this).data('handle');
    console.log(handle);

    var this_product = multi_products.filter((product) => {
      return product.handle === handle
    })[0];


    console.log('product after body');
    var product_html = `<div class="product">
      <img src="${this_product.image}">
      <h3>${this_product.title}</h3>
      <p>${this_product.price}</p>
      <a class="button" href="${initial_product.url}">Shop this product</a>
      </div>
      `;

    $product_container.html(product_html);
  })

</script>


{% schema %}
{
"name": "Multi Products",
"class": "homepage-section",
"tag": "section",
"settings": [
{
"id": "largeImage",
"type": "image_picker",
"label": "Large Image"
},{
"id": "headingText",
"type": "text",
"label": "Heading Text"
},{
"id": "paragraphText",
"type": "text",
"label": "Paragraph Text"
}
],
"blocks": [
{
"type": "products",
"name": "Products",
"settings": [
{
"type": "product",
"id": "block_product",
"label": "Product"
},
{
"type": "range",
"id": "horizontal",
"min": 0,
"max": 100,
"step": 1,
"unit": "%",
"label": "Horizontal Position",
"default": 50
},
{
"type": "url",
"id": "productURL",
"label": "Product URL"
},
{
"type": "range",
"id": "vertical",
"min": 0,
"max": 100,
"step": 1,
"unit": "%",
"label": "Vertical Position",
"default": 50
}
]
}
],
"presets": [{
"name": "Multi Products",
"category": "product"
}]
}
{% endschema %}
