<section data-section-id="{{ section.id }}" class="lookbook-product-section">
  <div class="section-header-wrapper">
    <div class="section-header text-center">
      <div class="section-header-title">{{ section.settings.headingText }}</div>
      <div class="section-header-content">
        <p>{{ section.settings.paragraphText }}</p>
      </div>
    </div>
  </div>
  <div class="image-container" data-active-color="{{section.settings.activeColor}}" data-normal-color="{{section.settings.normalColor}}">
    <div class="large-image-products">
      <img src="{{ section.settings.largeImage | image_url: width: 1380, height: 480 }}" alt="">
      {%- for block in section.blocks -%}
      <a href="{{ block.settings.productURL }}">
        <div class="dot {% if forloop.first%}active{% endif %}" data-handle="{{block.settings.block_product}}"
          style="top: {{block.settings.vertical}}%; left: {{block.settings.horizontal}}%;  "></div>
      </a>
      {% endfor %}
    </div>
    <div class="small-image-products">
      <img src="{{ section.settings.smallImage | img_url: '1000x' }}" alt="">
      {%- for block in section.blocks -%}
      <a href="{{ block.settings.productURL }}">
        <div class="dot {% if forloop.first%}active{% endif %}" data-handle="{{block.settings.block_product}}"
          style="top: {{block.settings.mobileVertical}}%; left: {{block.settings.mobileHorizontal}}%;  "></div>
      </a>
      {% endfor %}
    </div>
    <div id="product" class="product-container"></div>
  </div>
</section>

{% schema %}
{
"name": "Shop the Look",
"class": "homepage-section",
"tag": "section",
"settings": [
{
"id": "largeImage",
"type": "image_picker",
"label": "Large Image"
},
{
"id": "smallImage",
"type": "image_picker",
"label": "Small Image"
},
{
"id": "activeColor",
"type": "color",
"label": "Active Color"
},{
  "id": "normalColor",
  "type": "color",
  "label": "Normal Color"
  },
{
"id": "headingText",
"type": "text",
"label": "Heading Text"
},
{
"id": "paragraphText",
"type": "text",
"label": "Paragraph Text"
}
],
"blocks": [
{
"type": "products",
"name": "Products",
"settings": [
{
"type": "product",
"id": "block_product",
"label": "Product"
},
{
"type": "url",
"id": "productURL",
"label": "Product URL"
},
{
"type": "range",
"id": "horizontal",
"min": 0,
"max": 100,
"step": 1,
"unit": "%",
"label": "Horizontal Position",
"default": 50
},
{
"type": "range",
"id": "vertical",
"min": 0,
"max": 100,
"step": 1,
"unit": "%",
"label": "Vertical Position",
"default": 50
},
{
"type": "range",
"id": "mobileHorizontal",
"min": 0,
"max": 100,
"step": 1,
"unit": "%",
"label": "Mobile Horizontal Position",
"default": 50
},
{
"type": "range",
"id": "mobileVertical",
"min": 0,
"max": 100,
"step": 1,
"unit": "%",
"label": "Mobile Vertical Position",
"default": 50
}
]
}
]
}
{% endschema %}
