 
  <div class="page-account">
    <aside class="page-account-navigation">
      <nav>
        <a href="/account">
          <span> Account Details </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-chevron-down"
          >
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </a>
        <a class="active" href="/pages/order">
          <span> My Orders </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-chevron-down"
          >
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </a>
        <a href="/pages/swym-wishlist">
          <span> My Wishlist </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-chevron-down"
          >
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </a>
        <a href="/account/addresses">
          <span>Address </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-chevron-down"
          >
            <polyline points="6 9 12 15 18 9"></polyline>
          </svg>
        </a>
        <a href="{{ routes.account_logout_url }}">Sign Out </a>
      </nav>
    </aside>

   
      
  <section class="customer-account-detail">
    <h2 class="account-card-title">Order History</h2>
    <div class="customer-account-order-lists">
    {% paginate customer.orders by 4 %}
    {% if customer.orders.size > 0 %}
    {% for order in customer.orders %}
    <div class="order-list">
      <div class="order-list-header">
        <div class="order-list-header-data">
          <div class="order-placed-date">
            <span class="data-title">Order Placed</span>
            <span class="data-value">{{ order.created_at | time_tag: format: 'date' }}</span>
          </div>
          <div class="order-placed-total">
            <span class="data-title">Total</span>
            <span class="data-value">{{ order.total_price | money_with_currency }}</span>
          </div>
          <div class="order-placed-status">
            <span class="data-title">Status</span>
            <span class="data-value">{{ order.fulfillment_status_label }}</span>
          </div>
        </div>
        <div>
          <div class="order-placed-id">
            <span class="data-title">Order</span>
            <span class="data-value">{{ order.name }}</span>
          </div>
          <div>
          {% comment %} 
          <div class="order-invoice">
              <span class="data-value">
                <a href="{{ order.customer_url }}" target="_blank"> View order details
                </a>
              </span>
            </div> 
          {% endcomment %}
            
              {% comment %} 
              <div class="data-invoice">
        <span class="data-value"> <a href="{{ order.customer_url }}" target="_blank"> Invoice </a></span>
      </div> 
    {% endcomment %}
          </div>
        </div>
      </div>
      <div class="order-list-data">
        <ul>
          {% for line_item in order.line_items %}
          <li>
            {% if line_item.url != blank %}
            <a href="{{shop.secure_url}}/{{ line_item.url }}" target="_blank">
              {% endif %}
              {% if line_item.image != blank %}
              <span>
                {{ line_item.image | image_url: width: 100, height: 100, format: 'pjpg' | image_tag : alt:
                line_item.image.alt }}
              </span>
              {% else %}
              {{ 'product-1' | placeholder_svg_tag: 'line-item-image' }}
              {% endif %}
              {% if line_item.url != blank %}
            </a>
            {% endif %}
            <span>
              {{ line_item.title }}
            </span>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    {% endfor %}
    {% else %}
    
    <p  style="margin-bottom: 12px;" >YOU CURRENTLY HAVE NO ORDERS</p>
    
    <a type="button" href="{{ shop.url }}" class="button button-solid-maroon">Continue Shopping </a>

    {% endif %}
    <div class="pagination--number">
      {{ paginate | default_pagination: next: 'Next', previous: 'Prev' }}
    </div>
    {% endpaginate %}
  </div>
  </section>
       
  
  </div>

 
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}