{% for block in section.blocks %}
<section>
  <div class="collection-section--title">
    <h3>
      {{block.settings.grid_collection_title}}
    </h3>
    <a href="{{block.settings.grid_collection_url}}">Show More</a>
  </div>
  <div class="collection-section--group">
    <div class="test--product-card--grid">
      <div class="collection-list-grid" collection-list-mobile="2" collection-list-tablet="3" collection-list-desktop="4">
        {% assign collection = collections[ block.settings.grid_collection_name ] %}
        {% assign collectionCount = 8 %}
        {% for product in collection.products limit: collectionCount %}
            {% render 'product-card', product: product %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>
{% endfor %}
<script type="application/ld+json">
  {
    "@context":"https://schema.org",
    "@type":"ItemList",
    "itemListElement":[
    {% for product in collection.products limit: 4 %}
      {
        "@type":"ListItem",
        "position": {{ forloop.index }},
        "name": "{{ product.title }}",
        "url":"{{ product.url}}"
      }
      {% endfor %}
    ]
  }
</script>


{% schema %}
{
"name": "Collection Page",
"class": "section-random-product",
"tag": "section",
"blocks": [
{
      "type": "collection-image",
      "name": "Collection Image Section",
      "limit": 6,
      "settings": [
        {
    "type": "text",
    "id": "grid_collection_title",
    "label": "Collection Title",
    "default": "all"
},
{
    "type": "collection",
    "id": "grid_collection_name",
    "label": "Collection Name"
},
{
    "type": "url",
    "id": "grid_collection_url",
    "label": "Collection URL"
},
{
    "type": "number",
    "id": "grid_collection_count",
    "label": "How many product need to show",
    "default": 8
}
      ]
    }
  ]
}
{% endschema %}
