<div class="collection-page-header">
  <div class="collection-page-title">
    {% if collection.title != blank %}
    <h1>{{ collection.title }}</h1>
    {% endif %}
  </div>



  {% if customer and customer.tags contains 'admin' %}
  <div class="collection-page-header-image text-center image-radius">
    <img srcset="{%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
        {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
        {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
        {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
        {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
        {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
        {{ collection.image | image_url }} {{ collection.image.width }}w"
      src="{{ collection.image | image_url: width: 750 }}" alt="" width="{{ collection.image.width }}"
      height="{{ collection.image.height }}">
    {{ collection | image_url: height: '340x', format: 'pjpg' | image_tag : alt: collection.image.alt, class:
    'image-radius' }}
  </div>
  <div class="collection-page-title">
    <h1>{{ collection.title }}</h1>
  </div>
  <div class="collection-page-description">
    <p>{{ collection.description }}</p>
  </div>
  {% endif %}
</div>

{% render 'filter' %}

<div class="fixedElement section-{{ section.id }}-padding collectionGridFour">
  <section>
    {% paginate collection.products by 24 %}
    <div class="collection-list-grid" collection-list-mobile="2" collection-list-tablet="3" collection-list-desktop="4">
      {% for product in collection.products limit: 28 %}
      {% render 'product-card', product: product %}
      {% endfor %}
    </div>
    <div class="pagination--number">
      {{ paginate | default_pagination: next: 'Next', previous: 'Previous' }}
    </div>
    {% endpaginate %}
  </section>
</div>
<script type="application/ld+json">
  {
    "@context":"https://schema.org",
    "@type":"ItemList",
    "itemListElement":[
    {% for product in collection.products limit: 9 %}
    {
      "@type":"ListItem",
      "position": {{ forloop.index }},
      "name": "{{ product.title }}",
      "url":"{{ shop.secure_url}}{{ product.url}}"
    },
    {% endfor %}
    {% for product in collection.products offset:2 limit: 1 %}
    {
      "@type":"ListItem",
      "position": 10,
      "name": "{{ product.title }}",
      "url":"{{ shop.secure_url}}{{ product.url}}"
    }
    {% endfor %}
    ]
  }
</script>
