<div class="collection-page-header">
  <div class="collection-page-title">
    {% if collection.title != blank %}
    <h1>{{ collection.title }}</h1>
    {% endif %}
  </div>
</div>

{% render 'filter' %}

{% if customer and customer.tags contains 'admin' %}
<div>
  {% if paginate.next.is_link %}
  Showing products {{ paginate.current_offset | plus: 1 }} - {{ paginate.current_offset | plus: paginate.page_size }}
  of {{ collection.all_products_count }}
  {% else %}
  {% capture itemsOnCurrentPage %}
  {{ collection.all_products_count | minus: paginate.current_offset }}
  {% endcapture %}
  Showing products {{ paginate.current_offset | plus: 1 }} - {{ paginate.current_offset | plus: itemsOnCurrentPage }}
  of {{ collection.all_products_count }}
  {% endif %}
  {%- comment -%}
  {{ collection.products_count }} products
  {%- endcomment -%}
</div>
{% endif %}

<div class="fixedElement section-{{ section.id }}-padding collectionGridFour">
  <section>
    {% paginate collection.products by 24 %}
    <div class="collection-list-grid" collection-list-mobile="2" collection-list-tablet="3" collection-list-desktop="4">
      {% for product in collection.products limit: 28 %}
      {% render 'product-card', product: product %}
      {% endfor %}
    </div>
    <div class="pagination--number">
      {{ paginate | default_pagination: next: 'Older', previous: 'Newer' }}
    </div>
    {% endpaginate %}
  </section>
</div>
<script type="application/ld+json">
  {
    "@context":"https://schema.org",
    "@type":"ItemList",
    "itemListElement":[
    {% for product in collection.products limit: 9 %}
    {
      "@type":"ListItem",
      "position": {{ forloop.index }},
      "name": "{{ product.title }}",
      "url":"{{ shop.secure_url}}{{ product.url}}"
    },
    {% endfor %}
    {% for product in collection.products offset:2 limit: 1 %}
    {
      "@type":"ListItem",
      "position": 10,
      "name": "{{ product.title }}",
      "url":"{{ shop.secure_url}}{{ product.url}}"
    }
    {% endfor %}
    ]
  }
</script>
