page collection

<div class="collection-page-header">
  <div class="collection-page-header-image text-center image-radius">
    {% if collection.description != blank %}
    {{ collection | image_url: width: 1920, height: 340 | image_tag : alt: collection.image.alt, class: 'image-radius'
    }}
    {% else %}
    {{ 'lifestyle-2' | placeholder_svg_tag: 'my-custom-class' }}
    {% endif %}
  </div>
  <div class="collection-page-description">
    {% if collection.description != blank %}
    <p>{{ collection.description }}</p>
    {% else %}
    <p> Please add description for the page </p>
    {% endif %}
  </div>
</div>
<section>
  {{ collection.title }} <br>
  <br>
  <hr>


  {% assign controllers = '' | split: '' %}
  {% for link in linklists.main-menu.links %}
  {% if link.title == collection.title %}

  {% for child_link in link.links %}

  {% assign controllerName =  child_link.title | split: '_' | first | split: ''  %}
  {% assign controllers = controllers | concat: controllerName %}

  {% endfor %}

  {% endif %}
  {% for child_link in link.links %}
  {% if child_link.title == collection.title %}
  {% for grandchild_link in child_link.links %}
  {{ grandchild_link.title }}
  {% endfor %}
  {% endif %}
  {% endfor %}
  {% endfor %}
  <br>
  <br>
  <hr>
  {{controllers}}

  {% for product in collections[ child_link.title ].products limit:1 %}
 {{forloop.index}}  {{product.title}}

  {% endfor %}

  <hr>
  <br>
  <br>
</section>
