<div class="collection-page-header pageCollectionThreeGrid">
  <div class="collection-page-title {% if customer and customer.tags contains 'admin' %} d-none {% endif %}">
    {% if collection.title != blank %}
    <h1>{{ collection.title }}</h1>
    {% endif %}
  </div>
  <div
    class="collection-page-header-image text-center d-none {% if customer and customer.tags contains 'admin' %} d-block {% endif %}">
    {% if collection.image != blank %}
    <div class="collection-page-image">
      <img srcset="{%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
      {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
      {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
      {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
      {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
      {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
      {{ collection.image | image_url }} {{ collection.image.width }}w"
        src="{{ collection.image | image_url: width: 750 }}" alt="" width="{{ collection.image.width }}"
        height="{{ collection.image.height }}">
    </div>
    {% endif %}
    <div class="collection-page-content-area">
      <div class="collection-page-title text-left">
        <h1 class="text-left">{{ collection.title }}</h1>
      </div>
      <div class="collection-page-description text-left">
        <p>{{ collection.description }}</p>
      </div>
    </div>
  </div>

</div>

{% if customer and customer.tags contains 'admin' %}
{% if collection.metafields.custom.sub_collection_one.value != blank %}
  {% comment %}
    <ul class="collection-sub-list">
    {% assign ShopURL = shop.url | append: "/colections/" %}
    {% if collection.metafields.custom.sub_collection_one.value != blank %}
    <li>
      <a href="{{ ShopURL }}{{ collection.metafields.custom.sub_collection_one.value.handle }}">
      <span>  {{ collection.metafields.custom.sub_collection_one.value.title }} </span>
        <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/collection-background-image.png?v=1641294316">
      </a>
    </li>
    {% endif %}
    {% if collection.metafields.custom.sub_collection_two.value != blank %}
    <li>
      <a href="{{ ShopURL }}{{ collection.metafields.custom.sub_collection_two.value.handle }}">
      <span>  {{ collection.metafields.custom.sub_collection_two.value.title }} </span>
        <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/collection-background-image.png?v=1641294316">
      </a>
    </li>
    {% endif %}
    {% if collection.metafields.custom.sub_collection_three.value != blank %}
    <li>
      <a href="{{ ShopURL }}{{ collection.metafields.custom.sub_collection_three.value.handle }}">
       <span> {{ collection.metafields.custom.sub_collection_three.value.title }} </span>
        <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/collection-background-image.png?v=1641294316">
      </a>
    </li>
    {% endif %}
    {% if collection.metafields.custom.sub_collection_four.value != blank %}
    <li>
      <a href="{{ ShopURL }}{{ collection.metafields.custom.sub_collection_four.value.handle }}">
        <span> {{ collection.metafields.custom.sub_collection_four.value.title }} </span>
        <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/collection-background-image.png?v=1641294316">
      </a>
    </li>
    {% endif %}
    {% if collection.metafields.custom.sub_collection_five.value != blank %}
    <li>
      <a href="{{ ShopURL }}{{ collection.metafields.custom.sub_collection_five.value.handle }}">
        <span>{{ collection.metafields.custom.sub_collection_five.value.title }}</span>
        <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/collection-background-image.png?v=1641294316">
      </a>
    </li>
    {% endif %}
    {% if collection.metafields.custom.sub_collection_six.value != blank %}
    <li>
      <a href="{{ ShopURL }}{{ collection.metafields.custom.sub_collection_six.value.handle }}">
        <span>{{ collection.metafields.custom.sub_collection_six.value.title }}</span>
        <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/collection-background-image.png?v=1641294316">
      </a>
    </li>
    {% endif %}
    {% if collection.metafields.custom.sub_collection_seven.value != blank %}
    <li>
      <a href="{{ ShopURL }}{{ collection.metafields.custom.sub_collection_seven.value.handle }}">
        <span>{{ collection.metafields.custom.sub_collection_seven.value.title }}</span>
        <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/collection-background-image.png?v=1641294316">
      </a>
    </li>
    {% endif %}
  </ul>
{% endcomment %}
{% endif %}
{% endif %}


{% render 'filter' %}
<div class="fixedElement section-{{ section.id }}-padding collectionGridThrees">
  <section>
    <div class="collection-list-grid" collection-list-mobile="2" collection-list-tablet="4" collection-list-desktop="4">
      {% for product in collection.products limit: 24 %}
{% if product.available %} 
      <div class="product__card">
        <div class="product__card--img">
          <a href="{{ product.url | within: collection }}" class="product__card--link">
            <div class="product__card--image--wrapper">
              {% if product.featured_image != blank %}
              <!-- [200,400,600,700,800,900,1000,1200] -->
              <img loading="lazy" id="Image-{{ image.id }}" class="blur-up responsive-image__image lazyload"
                src="{{ product.featured_image | image_url: width: '300x', format: 'pjpg' }}"
                data-src="{{ product.featured_image | image_url: width: '300x', format: 'pjpg' }}"
                data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-sizes="auto"
                data-parent-fit="cover" alt="
                {% if  product.feature_image.alt != blank %}
                {{ product.feature_image.alt }}
                {% else %}
                {{ product.title }}
                {% endif %} ">
              {% comment %}
              {% endcomment %}
              {% else %}
              {{ 'product-1' | placeholder_svg_tag: 'product-img' }}
              {% endif %}
              <div class="product__card--status">
                {% unless product.available %}
                <!-- TODO: Sold out chip color -->
                <span class="product__card--status-soldout">sold out</span>
                {% endunless %}
                {% if product.compare_at_price_max > product.price %}
                <span class="product__card--status-soldout"> {{ product.compare_at_price_max | minus: product.price |
                  times: 100.0 | divided_by: product.compare_at_price_max | remove: '.0' | slice: 0, 2 }} % off </span>
                {% endif %}
              </div>
            </div>
          </a>
          <div class="product__card-cta quick-view-button">
            {% comment %}
              <span id="productInfoAnchor" class="quick-view" product-handle="{{ product.handle }}"
              product-price="{{ product.price | money_without_trailing_zeros }}">Quick View</span>
            {% endcomment %}
          </div>
        </div>
        <div class="product__card--content">
          <a href="{{ product.url | within: collection }}" class="product__card--link">
            <h2 itemprop="name" class="product__title">{{ product.title }}</h2>
            <div class="product__variant--price">
              {% if product.price_varies %}
              <p>From {{ product.price_min | money_with_currency }} to {{ product.price_max | money_without_currency }}
              </p>
              {% else %}
              <p>
                {% if product.compare_at_price_max > product.price %}
                <span><s>{{ product.compare_at_price_max | money_with_currency }}</s></span>
                <span>{{ product.price | money_with_currency }}</span>
                {% else %}
                <span>{{ product.price | money_with_currency }}</span>
                {% endif %}
              </p>
              {% endif %}
            </div>

            {% if customer and customer.tags contains 'admin' %}
            <div class="product__variant--sku">
              {% assign current_variant = product.selected_or_first_available_variant %}
              <span class="variant-sku">{{ current_variant.sku }}</span>
            </div>
            {% endif %}

            {% if product.variants.size > 1 %}
            <div class="product__variant--list" hidden>
              <span class="product__variant--list-title">
                {{product.options }} :
              </span>
              {% for variant in product.variants %}
              {% if variant.inventory_quantity == 0 %} <s> {% endif %}
                <span class="product__variant--list-name"> {{ variant.title }} </span>
                {% if variant.inventory_quantity == 0 %} </s> {% endif %}
              {% endfor %}
            </div>
            {% endif %}
          </a>
        </div>
      </div>
  {% endif %}
        
{% endfor %}
{% for product in collection.products limit: 24 %} 
{% unless product.available %} 

      <div class="product__card">
        <div class="product__card--img">
          <a href="{{ product.url | within: collection }}" class="product__card--link">
            <div class="product__card--image--wrapper">
              {% if product.featured_image != blank %}
              <!-- [200,400,600,700,800,900,1000,1200] -->
              <img loading="lazy" id="Image-{{ image.id }}" class="blur-up responsive-image__image lazyload"
                src="{{ product.featured_image | image_url: width: '300x', format: 'pjpg' }}"
                data-src="{{ product.featured_image | image_url: width: '300x', format: 'pjpg' }}"
                data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]" data-sizes="auto"
                data-parent-fit="cover" alt="
                {% if  product.feature_image.alt != blank %}
                {{ product.feature_image.alt }}
                {% else %}
                {{ product.title }}
                {% endif %} ">
              {% comment %}
              {% endcomment %}
              {% else %}
              {{ 'product-1' | placeholder_svg_tag: 'product-img' }}
              {% endif %}
              <div class="product__card--status">
                {% unless product.available %}
                <!-- TODO: Sold out chip color -->
                <span class="product__card--status-soldout">sold out</span>
                {% endunless %}
                {% if product.compare_at_price_max > product.price %}
                <span class="product__card--status-soldout"> {{ product.compare_at_price_max | minus: product.price |
                  times: 100.0 | divided_by: product.compare_at_price_max | remove: '.0' | slice: 0, 2 }} % off </span>
                {% endif %}
              </div>
            </div>
          </a>
          <div class="product__card-cta quick-view-button">
            {% comment %}
              <span id="productInfoAnchor" class="quick-view" product-handle="{{ product.handle }}"
              product-price="{{ product.price | money_without_trailing_zeros }}">Quick View</span>
            {% endcomment %}
          </div>
        </div>
        <div class="product__card--content">
          <a href="{{ product.url | within: collection }}" class="product__card--link">
            <h2 itemprop="name" class="product__title">{{ product.title }}</h2>
            <div class="product__variant--price">
              {% if product.price_varies %}
              <p>From {{ product.price_min | money_with_currency }} to {{ product.price_max | money_without_currency }}
              </p>
              {% else %}
              <p>
                {% if product.compare_at_price_max > product.price %}
                <span><s>{{ product.compare_at_price_max | money_with_currency }}</s></span>
                <span>{{ product.price | money_with_currency }}</span>
                {% else %}
                <span>{{ product.price | money_with_currency }}</span>
                {% endif %}
              </p>
              {% endif %}
            </div>

            {% if customer and customer.tags contains 'admin' %}
            <div class="product__variant--sku">
              {% assign current_variant = product.selected_or_first_available_variant %}
              <span class="variant-sku">{{ current_variant.sku }}</span>
            </div>
            {% endif %}

            {% if product.variants.size > 1 %}
            <div class="product__variant--list" hidden>
              <span class="product__variant--list-title">
                {{product.options }} :
              </span>
              {% for variant in product.variants %}
              {% if variant.inventory_quantity == 0 %} <s> {% endif %}
                <span class="product__variant--list-name"> {{ variant.title }} </span>
                {% if variant.inventory_quantity == 0 %} </s> {% endif %}
              {% endfor %}
            </div>
            {% endif %}
          </a>
        </div>
      </div>
  {% endunless %}

      {% endfor %}
    </div>
    
    {% paginate collection.products by 24  %}
    <div class="pagination--number">
      {{ paginate | default_pagination: next: 'Older', previous: 'Next' }}
    </div>
    {% endpaginate %}
  </section>
</div>
<script>
  function modifyLink(link) {
    if (link.tagName !== 'a') return;

    const url = new URL(link.href);
    if (!url.searchParams.has("filter.v.availability")) {
      url.searchParams.append("filter.v.availability", "1");
      link.href = url.href;
    }
  }

  function setAvailabilityFilterInCollectionLinks() {
    const selectorStr = "header a[href*='/collections/'], .drawer a[href*='/collections/']"; // you can change this selector based on your theme structure
    selectorStr.split(',').forEach((selector) => {
      const selectorTrimmed = selector.trim();
      if (selectorTrimmed) {
        document.querySelectorAll(selectorTrimmed).forEach(modifyLink);
      }
    });
  }

  document.addEventListener("DOMContentLoaded", () => {
    setAvailabilityFilterInCollectionLinks();
  });
</script>
<script type="application/ld+json">
  {
    "@context":"https://schema.org",
    "@type":"ItemList",
    "itemListElement":[
    {% for product in collection.products limit: 9 %}
    {
      "@type":"ListItem",
      "position": {{ forloop.index }},
      "name": "{{ product.title }}",
      "url":"{{ shop.secure_url}}{{ product.url}}"
    },
    {% endfor %}
    {% for product in collection.products limit: 1 offset: continue%}
    {
      "@type":"ListItem",
      "position": 10,
      "name": "{{ product.title }}",
      "url":"{{ shop.secure_url}}{{ product.url}}"
    }
    {% endfor %}
    ]
  }
</script>
