<div class="collection-page-header">
  {% if collection.description != blank %}
  <div class="collection-page-header-image text-center image-radius">
    {{ collection | image_url: width: 1920, height: 340 | image_tag : alt: collection.image.alt, class: 'image-radius'
    }}
  </div>
  {% else %}
  <div class="collection-page-title">
    {% if collection.title != blank %}
    <h1>{{ collection.title }}</h1>
    {% endif %}
  </div>
  {% endif %}
  {% if collection.description != blank %}
  <div class="collection-page-description">
    <p>{{ collection.description }}</p>
  </div>
  {% endif %}
</div>

<div class="fixedElement section-{{ section.id }}-padding">
  {% render 'filter', results: collection, enable_filtering: true, enable_sorting: true, filter_type: 'vertical' %}
  <section>
    {% paginate collection.products by 27 %}
    <div class="collection-list-grid" collection-list-mobile="2" collection-list-tablet="3" collection-list-desktop="4">
      {% for product in collection.products %}
      {% render 'product-card', product:product %}
      {% endfor %}
    </div>
    <div class="pagination--number">
      {{ paginate | default_pagination: next: 'Older', previous: 'Newer' }}
    </div>
    {% endpaginate %}
  </section>
</div>
