<div class="page-sale">

<div class="section-banner">
  <div class="banner-sale-unit-mobile">
    <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/online-sale-banner-mobile.png?v=1678678079" alt="">
    <div class="banner-sale-unit-mobile-content">
      <h2 class="banner-sale-title">Annual Discount Sale</h2>
      <img class="img-small" src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/banner-mobile-divider.png?v=1678679964" alt="">
      <p class="banner-sale-upto">UP TO
        <span>50
          <b>%</b>
        </span>
        OFF</p>
      <p class="banner-sale-date">Feb 24th - Mar 11th</p>
      <p class="banner-sale-info">Exclusive to Online Store</p>
      <nav class="banner-sale-unit">
        <a href="#">saree</a>
        <a href="#">cotton</a>
        <a href="#">men</a>
        <a href="#">women</a>
      </nav>
    </div>
  </div>
</div>
<div class="banner-sale-unit-desktop" style="display: none">
    <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/online-sale-banner-desktop-1.png?v=1678678296" alt="">
    <nav class="banner-sale-unit" style="display: none">
      <a href="">
        <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-online-banner-saree.png?v=1678706884" alt="">
      </a>
      <a href="">
        <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-online-banner-women.png?v=1678706884" alt="">
      </a>
      <a href="">
        <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-online-banner-men.png?v=1678706884" alt="">
      </a>
      <a href="">
        <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-online-banner-cotton.png?v=1678706884" alt="">
      </a>
    </nav>
  </div>


  <section class="shopify-section homepage-section">
  <div class="section-discount">
    <nav>
      <a href="#">
        <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/online-sale-15.png?v=1678682547" alt="">
      </a>
      <a href="#">
        <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/online-sale-20.png?v=1678682547" alt="">
      </a>
      <a href="#">
        <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/online-sale-30.png?v=1678682547" alt="">
      </a>
      <a href="#">
        <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/online-sale-50.png?v=1678682547" alt="">
      </a>
    </nav>
  </div>
  </section>

<section class="shopify-section homepage-section home-page-curated-section">
  <div class="section-header-wrapper">
    <div class="section-header text-center">
      <div class="section-header-title">Curated collection</div>
      <div class="section-header-content">Styles for every occasion</div>
    </div>
  </div>
  <div class="section-content collection-saree">
        <div class="collection-item">
          <a class="collection-item-link" href="#">
            <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-kanchipuram-silk.png?crop=top&height=608&v=1677646099&width=352" class="collection-item-image" alt="">
            <div class="collection-item-name">
              <div class="collection-item-title">
               Kanchipuram Silk
              </div>
            </div>
          </a>
        </div>
        <div class="collection-item">
          <a class="collection-item-link" href="#">
            <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-raw-silk.png?crop=top&height=608&v=1677646099&width=352" class="collection-item-image" alt="">
            <div class="collection-item-name">
              <div class="collection-item-title">
               Raw Silk
              </div>
            </div>
          </a>
        </div>
        <div class="collection-item">
          <a class="collection-item-link" href="#">
            <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-kanchi-cotton.png?crop=top&height=608&v=1677646099&width=352" class="collection-item-image" alt="">
            <div class="collection-item-name">
              <div class="collection-item-title">
               Kanchi Cotton
              </div>
            </div>
          </a>
        </div>
        <div class="collection-item">
          <a class="collection-item-link" href="#">
            <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-chettinadu-collection.png?crop=top&height=608&v=1677646099&width=352" class="collection-item-image" alt="">
            <div class="collection-item-name">
              <div class="collection-item-title">
               Chettinady Cotton
              </div>
            </div>
          </a>
        </div>
  </div>
</section>
<section class="shopify-section homepage-section noleftright section-single-band band-content-right">
  <a href="#">
    <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-collection-banner-cotton.png?v=1678712641" alt="">
    <div class="section-single-band-content">
    <div class="section-single-band-content-wrapper">
      <div class="content-title">
        Mangalagiri<br>Cotton Sarees
      </div>
      <div class="button">SHOP NOW</div>
    </div>
    </div>
  </a>
</section>
<section class="shopify-section homepage-section sale-just-dropped">
  <div class="">
    {% assign my_array = "andhra-cottons | half-fine-kanchipuram | tussar-silk" | split: "| " %}
    {% assign collect = 0 %}
    {% assign collectionCount = 8 %}
    <div class="homepage-justdropped">
      <div class="section-header-wrapper">
        <div class="section-header text-left">
          <div class="section-header-title">Just Dropped</div>
          <div class="section-header-content">New arrivals you will love</div>
        </div>
        <div class="tab-buttton">
          {% for item in my_array %}
            <div id="titem_{{forloop.index}}" class="tab {% if forloop.first %} active {% endif %} ">
              {{ item | downcase | replace: "-", " " }}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="homepage-justdropped-content">
        <!-- TODO: Remove sold ou product from loop -->
        {% for item in my_array %}
          {% assign collect = collections[item] %}
          <div class="justdropped-box {% if forloop.first %} active {% endif %}" id="pitem_{{forloop.index}}">
            <div
              class="test--product-card--grid-four"
              data-mobile-count="2"
              data-tablet-count="3"
              data-laptop-count="4"
              data-desktop-count="4"
              data-ldesktop-count="6">
              {% for product in collect.products limit: collectionCount %}
                {% if product.available %}
                  <div class="item">
                    <div class="product__card">
                      <div class="product__card--img">
                        <a href="{{ product.url | within: collection }}" class="product__card--link">
                          <div
                            class="product__card--image--wrapper">
                            {% if product.featured_image != blank %}
                              <!-- [200,400,600,700,800,900,1000,1200] -->
                              <img
                                loading="lazy"
                                id="Image-{{ image.id }}"
                                class="blur-up responsive-image__image lazyload"
                                src="{{ product.featured_image | image_url: width: '300x'  }}"
                                data-src="{{ product.featured_image | image_url: width: '300x'  }}"
                                data-aspectratio="{{ product.featured_image.aspect_ratio }}"
                                data-widths="[540, 720, 900, 1080, 1296, 1512, 1728, 1944, 2048]"
                                data-sizes="auto"
                                data-parent-fit="cover"
                                alt="
                              {% if product.feature_image.alt != blank %}
                                {{ product.feature_image.alt }}
                              {% else %}
                                {{ product.title }}
                              {% endif %}">
                              {% comment %}
                              {% endcomment %}
                            {% else %}
                              {{ 'product-1' | placeholder_svg_tag: 'product-img' }}
                            {% endif %}
                            <div class="product__card--status">
                              {% unless product.available %}
                                <!-- TODO: Sold out chip color -->
                                <span class="product__card--status-soldout">sold out</span>
                              {% endunless %}
                              {% for variant in product.variants limit: 1 %}
                                {% if variant.compare_at_price > variant.price %}
                                  <span class="product__card--status-soldout">
                                    {{ variant.compare_at_price | minus: variant.price | times: 100.0 | divided_by: variant.compare_at_price | remove: '.0' | slice: 0, 2 }}% off
                                  </span>
                                {% endif %}
                              {% endfor %}
                            </div>
                          </div>
                        </a>
                        <div class="product__card-cta quick-view-button">
                          <span
                            id="productInfoAnchor"
                            class="quick-view"
                            product-handle="{{ product.handle }}"
                            product-price="{{ product.price | money_without_trailing_zeros }}">Quick View</span>
                        </div>
                      </div>
                      <div class="product__card--content">
                        <a href="{{ product.url | within: collection }}" class="product__card--link">
                          <h2 itemprop="name" class="product__title">{{ product.title }}</h2>
                          <div class="product__variant--price">
                            {% if product.price_varies %}
                              <p>From {{ product.price_min | money_with_currency }} to {{ product.price_max | money_without_currency }}</p>
                            {% else %}
                              <p>
                                {% if product.compare_at_price_max > product.price %}
                                  <span>
                                    <s>{{ product.compare_at_price_max | money_with_currency }}</s>
                                  </span>
                                  <span>{{ product.price | money_with_currency }}</span>
                                {% else %}
                                  <span>{{ product.price | money_with_currency }}</span>
                                {% endif %}
                              </p>
                            {% endif %}
                          </div>
                          {% if product.variants.size > 1 %}
                            <div class="product__variant--list" hidden>
                              <span class="product__variant--list-title">
                                {{ product.options }} :
                              </span>
                              {% for variant in product.variants %}
                                {% if variant.inventory_quantity == 0 %}
                                  <s>
                                  {% endif %}
                                  <span class="product__variant--list-name">
                                    {{ variant.title }}
                                  </span>
                                  {% if variant.inventory_quantity == 0 %}
                                  </s>
                                {% endif %}
                              {% endfor %}
                            </div>
                          {% endif %}
                        </a>
                      </div>
                    </div>
                  </div>
                {% endif %}
                {% if forloop.last == true %}
                  <div class="item">
                    <div class="last-card product__card product__card--explore">
                      <a href="/collections/{{collect.handle}}?filter.v.availability=1">
                        <div class="product__card--img">
                          <div class="product__card--image--wrapper">
                            <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/white-image.png?v=1670490446" alt="">
                          </div>
                          <div class="product__card--content">
                            Explore All
                          </div>
                        </div>
                      </a>
                    </div>
                  </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>
<section class="shopify-section homepage-section noleftright section-multi-band section-women">
  <div class="collection-banner-text-image">
    <img
      src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-collection-banner-blouse-image.png?v=1678712362"
      alt=""
    >
    <div class="collection-banner-content">
      <p class="collection-banner-text-banner-title">Plentiful Creations for Women</p>
      <img
        class="small"
        src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-collection-banner-blouse-divider.png?v=1678712361"
        alt=""
      >
      <p class="collection-banner-text-banner-content">Explore</p>
      <nav class="collection-banner-text-nav">
        <a href="#">SALWAR SET</a>
        <a href="#">KURTA</a>
        <a href="#">SKIRTS</a>
        <a href="#">BLOUSE</a>
      </nav>
    </div>
  </div>
</section>
<section class="shopify-section homepage-section home-page-curated-section">
  <div class="section-header-wrapper">
    <div class="section-header text-center">
      <div class="section-header-title">Curated collection</div>
      <div class="section-header-content">Styles for every occasion</div>
    </div>
  </div>
  <div class="section-content collection-saree">
        <div class="collection-item">
          <a class="collection-item-link" href="#">
            <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-kanchipuram-silk.png?crop=top&height=608&v=1677646099&width=352" class="collection-item-image" alt="">
            <div class="collection-item-name">
              <div class="collection-item-title">
               Kanchipuram Silk
              </div>
            </div>
          </a>
        </div>
        <div class="collection-item">
          <a class="collection-item-link" href="#">
            <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-raw-silk.png?crop=top&height=608&v=1677646099&width=352" class="collection-item-image" alt="">
            <div class="collection-item-name">
              <div class="collection-item-title">
               Raw Silk
              </div>
            </div>
          </a>
        </div>
        <div class="collection-item">
          <a class="collection-item-link" href="#">
            <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-kanchi-cotton.png?crop=top&height=608&v=1677646099&width=352" class="collection-item-image" alt="">
            <div class="collection-item-name">
              <div class="collection-item-title">
               Kanchi Cotton
              </div>
            </div>
          </a>
        </div>
        <div class="collection-item">
          <a class="collection-item-link" href="#">
            <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-chettinadu-collection.png?crop=top&height=608&v=1677646099&width=352" class="collection-item-image" alt="">
            <div class="collection-item-name">
              <div class="collection-item-title">
               Chettinady Cotton
              </div>
            </div>
          </a>
        </div>
  </div>
</section>
  <section class="shopify-section homepage-section noleftright section-single-band band-content-left">
    <a href="#">
      <img src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-collection-banner-silk.png?v=1678712608" alt="">
      <div class="section-single-band-content">
        <div class="section-single-band-content-wrapper">
        <div class="content-title">
          Splendid <br>
          Kanchjivarams
        </div>
        <div class="button">SHOP NOW</div>
      </div>
      </div>
    </a>
  </section>
  <section class="shopify-section homepage-section noleftright section-multi-band section-fabric">
    <div class="collection-banner-text-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-collection-banner-fabric-image.png?v=1678712361"
        alt=""
      >
      <div class="collection-banner-content">
        <p class="collection-banner-text-banner-title">Diverse Section of Fabrics</p>
        <img
          class="small"
          src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-collection-banner-fabric-divider.png?v=1678712361"
          alt=""
        >
        <p class="collection-banner-text-banner-content">Shop Now</p>
        <nav class="collection-banner-text-nav">
          <a href="#">FABRIC</a>
          <a href="#">BLOUSE</a>
          <a href="#">SALWAR</a>
          <a href="#">PAVADAI SATTAI</a>
        </nav>
      </div>
    </div>
  </section>
  <section class="shopify-section homepage-section noleftright section-multi-band section-men">
    <div class="collection-banner-text-image">
      <img
        src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-collection-banner-men-image.png?v=1678712361"
        alt=""
      >
      <div class="collection-banner-content">
        <p class="collection-banner-text-banner-title">Men's World of Comfort</p>
        <img
          class="small"
          src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sale-collection-banner-men-divider.png?v=1678712361"
          alt=""
        >
        <p class="collection-banner-text-banner-content">Shop the Sale Collection</p>
        <nav class="collection-banner-text-nav">
          <a href="#">DHOTI</a>
          <a href="#">SHIRT</a>
          <a href="#">SHORT KURTA</a>
          <a href="#">LONG KURTA</a>
        </nav>
      </div>
    </div>
  </section>
</div>
