{% for block in section.blocks %}
  {{ block }}
  {{ block.settings.collection_url }}
<section>
  <div class="collection-section--title">
    <h3>
      {{block.settings.collection_title}}
    </h3>
    <a href="{{block.settings.collection_url}}">Show More</a>
  </div>
  <div class="collection-section--group">
    <div class="test--product-card--grid">

      <div class="product-grid-list-four">
        {% assign collection = collections[ block.settings.collection_name ] %}
        {% assign collectionCount = 8 %}
        {% for product in collection.products limit: collectionCount %}
        <div class="product__card">
          <div class="product__card--img">
            <a href="{{ product.url | within: collection }}" class="product-link">
              <div class="product__image--wrapper">
                {% if product.featured_image != blank %}
                <div>
                  <img loading="auto" alt="{{ product.featured_image.alt }}" width="328" height="463"
                    src=" {{ product.featured_image.src | image_url: width:328, height:463 }} ">
                </div>
                {% else %}
                {{ 'product-1' | placeholder_svg_tag: 'product-img' }}
                {% endif %}
              </div>
              <div class="product__status">
                {% unless product.available %}
                <!-- TODO: Sold out chip color -->
                <span class="product__status-soldout">sold out</span>
                {% endunless %}
              </div>
            </a>
            <div class="product__card-cta quick-view-button">
              <a class="quick-view" data-handle="{{ product.handle }}">Quick View</a>
            </div>
          </div>
          <div class="product__card--content">
            <a href="{{ product.url | within: collection }}" class="product-link">
              <h2 itemprop="name" class="product__title">{{ product.title }}</h2>
              <div class="product__variant--price">
                {% if product.price_varies %}
                <p>From {{ product.price_min | money_with_currency }} to {{ product.price_max | money_without_currency
                  }}
                </p>
                {% else %}
                <p>
                  {% if product.compare_at_price_max > product.price %}
                  <span><s>{{ product.compare_at_price_max | money_with_currency }}</s></span>
                  <span>{{ product.price | money_with_currency }}</span>
                  {% else %}
                  <span>{{ product.price | money_with_currency }}</span>
                  {% endif %}
                </p>
                {% endif %}
              </div>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
  </div>
</section>
{% endfor %}

{% schema %}
{
"name": "Collection Page",
"class": "section-random-product",
"tag": "section",
"blocks": [
    {
      "type": "collection-image",
      "name": "Collection Image Section",
      "limit": 6,
      "settings": [
        {
    "type": "text",
    "id": "grid_collection_title",
    "label": "Collection Title",
    "default": "all"
},
{
    "type": "text",
    "id": "grid_collection_name",
    "label": "Collection Name",
    "default": "all"
},
{
    "type": "text",
    "id": "grid_collection_url",
    "label": "Collection URL",
    "default": "all"
},
{
    "type": "number",
    "id": "grid_collection_count",
    "label": "How many product need to show",
    "default": 8
}
      ]
    }
  ]
}
{% endschema %}
