{% assign current_product = product.selected_or_first_available_variant %}
{% assign product_image = current_product.featured_image | default: product.featured_image %}
{% assign product_collection = collection.title | link_to: product_collection.url %}
{% assign collectProductName = "" %}
{% unless product_collection == blank %}
{% assign collectProductName = product_collection %}
{% endunless %}
{% assign coeid = "" %}
{% for product_image in product.images %}
<link rel="preload" as="image" href="{{ product_image.src | image_url }}">
<link rel="prefetch" href="{{ product_image.src | image_url }}">
{% endfor %}
{% unless product == empty %}
<script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

<section class="page-product-detail">
  <div class="product-images">
    <ul class="product-images-thumbnails">
      {% for product_image in product.images %}
      <li>
        <a href="{{ product_image.src | image_url }}" data-pswp-width="{{ product_image.width }}"
          data-pswp-height="{{ product_image.height }}">
          {{ product_image | image_url : width: 160 | image_tag:
          width: 160,
          height: 160,
          loading: "lazy",
          alt: product_image.alt | escape
          }}
        </a>
      </li>
      {% endfor %}
    </ul>
    <div class="ImageMe test-gallery">
      <a href="{{ product_image.src | image_url }}" data-pswp-width="{{ product_image.width }}"
        data-pswp-height="{{ product_image.height }}">
        <img
          class="global-media-settings global-media-settings--no-shadow{% if variant_image %} product__media-item--variant{% endif %}"
          src="{{ product_image.src | image_url }}" alt="{{ media.alt | escape }}" loading="lazy"
          data-media-id="{{ media.id }}">
      </a>
      {% for product_image in product.images offset:1 %}
      <a href="{{ product_image.src | image_url }}" style="opacity: 0; width: 0; height: 0;"
        data-pswp-src="{{ product_image | image_url }}" data-pswp-width="{{ product_image.width }}"
        data-pswp-height="{{ product_image.height }}" target="_blank">
        &nbsp;
      </a>
      {% endfor %}
    </div>
  </div>
  <div class="product-content">
    <h2 class="product-title">{{product.title}}</h2>
    {% if customer and customer.tags contains 'admin' %}
    <div class="product-sku">
      {%- assign current_variant = product.selected_or_first_available_variant -%}
      {% for variant in product.variants %}
      <span class="product__variant--sku"> Product Code : {{ variant.sku }} </span>
      {% endfor %}
    </div>
    {% endif %}
    <p class="product-price">{{current_product.price | money_with_currency }}</p>
    <p class="product-notice-content {% for collection in product.collections%} {{collection.title}} {% endfor %}">
      Our artisanal silver jewellery collection is currently available for shipment within INDIA.
    </p>
    <!--product form-->
    {%- form 'product', product, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}

    <select id="product-select" name="id">
      {% for variant in product.variants %}
        <option value="{{ variant.id }}"
          {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
        >
          {{ variant.title }} - {{ variant.price | money }}
        </option>
      {% endfor %}
    </select>

    {{ product.variants[0].id }}
    {{ product.variants[1].id }}
    {{ product.variants[2].id }}
    {{ product.variants[3].id }}
    {{ product.variants[4].id }}

    {%- unless product.has_only_default_variant -%}
    {%- for option in product.options_with_values -%}
    <label for="ProductSelect-option-{{ forloop.index0 }}">
      {{ option.name | escape }}
    </label>
    <select id="ProductSelect-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
      {%- for value in option.values -%}
        <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>
          {{ value | escape }}
        </option>
      {%- endfor -%}
    </select>
    <fieldset class="product-variant-fielset" id="ProductSelect-option-{{ forloop.index0 }}"
      name="{{ option.name | handleize }}">
      <legend>
        {{ option.name | escape }}
        {% if option.name contains "Size" or option.name contains "size" %}
        <span>
          <nav class="product-guide-line">
            <div class="modal-toggle" id="measurement-guide" data-target="#MeasurementGuide" data-toggle="modal">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="24" fill="none" viewBox="0 0 18 24">
                <g clip-path="url(#clip0_3_2)">
                  <path fill="#000"
                    d="M5.717 24L.023 20.713 11.97.022l5.693 3.287L5.717 24zm-5.1-3.445l4.94 2.852L17.07 3.467 12.128.616.617 20.555z">
                  </path>
                  <path fill="#000"
                    d="M1.998 17.727l.217-.376 1.516.875-.218.376-1.515-.875zm.962-1.666l.218-.377 3.174 1.833-.217.376-3.175-1.832zm.963-1.667l.217-.376 1.587.916-.217.376-1.587-.916zm.962-1.667l.217-.376 1.587.917-.217.376-1.587-.917zm.962-1.666l.217-.376 1.587.916-.217.376-1.587-.916zm.962-1.666l.217-.376 3.175 1.832-.218.376L6.81 9.395zm1.134-1.667l.217-.376 1.443.833-.217.376-1.443-.833zm.961-1.667l.218-.376 1.443.833-.218.376-1.443-.833zm.963-1.666l.217-.376 1.443.833-.217.376-1.443-.833zm.962-1.666l.217-.377 3.175 1.833-.218.376L10.83 2.73z">
                  </path>
                </g>
                <defs>
                  <clipPath id="clip0_3_2">
                    <path fill="#fff" d="M0 0h17.674v24H0z"></path>
                  </clipPath>
                </defs>
              </svg>
              Size Guidelines
            </div>
          </nav>
        </span>
        {% endif %}
      </legend>
      {%- for value in option.values -%}
      <!-- Check to see if there's a product size option. If there is a size, check to see if there's any availble for purchase. If not, set the variat control in a "disabled" state. -->
      {%- assign variant_label_state = true -%}
      {%- if product.options.size == 1 -%}
      {%- unless product.variants[forloop.index0].available -%}
      {%- assign variant_label_state = false -%}
      {%- endunless -%}
      {%- endif -%}
      {% assign inputStyle = '' %}
      {% if option.name contains "Color" or option.name contains "color" or option.name contains "Size" or option.name
      contains "size" %}
      {% assign inputStyle = "input-radio-label-circle" %}
      {% else %}
      {% assign inputStyle = "input-radio-label-chip" %}
      {% endif %}
      <label class="{{inputStyle}}" {% if option.name contains "Color" or option.name contains "color" %}
        data-color="{{ value }}" style="text-indent: -9999px; background:{{value | downcase | escape | remove:" " }}" {%
        endif %} for="ProductSelect-option-{{ option.name | handleize }}-{{ value | escape }}">
        <input type="radio" {% if option.selected_value==value %} checked="checked" {% endif %} {% unless
          variant_label_state %} disabled="disabled" {% endunless %} value="{{ value }}"
          data-index="option{{ forloop.index }}" name="{{ option.name | handleize }}"
          id="ProductSelect-option-{{ option.name | handleize }}-{{ value | escape }}">
        {% if value == 'Free Size' %}
        FS
        {% else %}
        {{ value | escape }}
        {% endif %}
      </label>
      {%- endfor -%}
    </fieldset>
    {%- endfor -%}
    {%- endunless -%}

    <!-- blouse stitching area -->

    <!-- check the data -->
    {% assign with_blouse = true %}
    {% for tag in product.tags %}
    {% if tag == "With Blouse" %}
    {% assign with_blouse = false %}
    {% break %}
    {% endif %}
    {% endfor %}
    <!-- if data true -->
    {% if with_blouse %}
    <div class="blouse-stitching hide" id="hulkapps_custom_options_{{ product.id }}"> </div>
    {% else %}
    <div class="blouse-stitching" id="hulkapps_custom_options_{{ product.id }}"> </div>
    {% endif %}

    {% if product.type == "Sarees" %}
    <div class="note measurement-select" style="padding: 5px;margin-bottom: 10px;font-size: 14px;">
      To revise your blouse measurements, please go back to “Add measurements” and make the changes.
    </div>
    {% endif %}

    <div id="login-link" class="hide" style="">Please <a style="color: var(--primary-color);"
        href="/account/login?checkout_url={{shop.url}}{{product.url}}" id="addMeasurementLinkLogin">Login</a> to add
      measurement. Kindly provide measurement details for blouse
      stitching before adding this product to the cart.</div>
    <div id="add-measurement-link" class="hide" style="">Please add
      measurement <a
        style="color: #fff !important; display: inline-block; padding: 2px 4px; background-color: var(--primary-color); border-radius: 5px;"
        href="/pages/measurement?checkout_url={{shop.url}}{{product.url}}" id="addMeasurementLink">Add</a></div>
    <div class="measurement-select hide" style="padding: 0 5px; margin-bottom: 10px;">
      <label id="select-measurement-title" for="select-measurement">Select Measurement:</label>
      <select id="select-measurement" style="width:100%">
        <option value="">Select</option>
      </select>
      <div id="add-measurement-link-select" style="padding: 0 5px;margin-bottom: 10px;font-size: 14px;">
        <a style="color: var(--primary-color);"
          href="/pages/measurement?checkout_url={{shop.url}}{{product.url}}"><strong>Add new
            measurement</strong>
        </a>
      </div>
    </div>
    <p id="measurement-data" class="line-item-property__field hide">
    </p>

    <!-- blouse stitching area -->
    <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
      {% for variant in product.variants %}
        {% if variant.available %}
          <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
            {{ variant.title }}
          </option>
        {% else %}
          <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
        {% endif %}
      {% endfor %}
      </select>

    <div class="mb-3">
      <input type="number" class="form-control" name="quantity" id="quantity" value="1" min="1" max="1">
      <input type="text" name="id" value="{{ product.selected_or_first_available_variant.id }}" {% if
        product.selected_or_first_available_variant.available==false %}disabled{% endif %}>
      <input type="text" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
    </div>

    <div class="product-form__buttons">
      {% assign not_in_cart = true %}
      {% for item in cart.items %}
      {% if item.product.id == product.id %}
      {% assign not_in_cart = false %}
      {% break %}
      {% endif %}
      {% endfor %}
      {% if not_in_cart %}
      <button type="submit" name="add"
        class="product-form__submit button product-add-to-cart-button  {% if block.settings.show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
        {% if product.selected_or_first_available_variant.available==false %} disabled {% endif %}>
        <span>
          {%- if product.selected_or_first_available_variant.available -%}
          ADD TO CART
          {%- else -%}
          SOLD OUT
          {%- endif -%}
        </span>
      </button>
      <!-- {{ form | payment_button }} -->
      {% else %}
      <a href="/cart" class="product-form__viewcart button product-add-to-cart-button">View Cart</a>
      {% endif %}

      <a href="/cart" class="product-form__viewcart button product-add-to-cart-button" hidden>View Cart</a>
    </div>



    {%- endform -%}

    <!--end product form-->


    <!-- Size Guide modal -->
    <div class="size-chart-modal modal">
      <div class="modal-overlay modal-toggle"></div>
      <div class="modal-wrapper modal-transition">
        <div class="modal-header">
          <button class="modal-close modal-toggle"><svg class="icon-close icon" viewBox="0 0 24 24">
              <use xlink:href="#close"></use>
            </svg></button>
          <h2 class="modal-heading">Size Chart and Measurement Guide </h2>
        </div>
        <div class="modal-body">
          <div class="modal-content">
            <div class="size-data">
              {% assign suppliers = product.metafields.custom.size_chart.value %}
              {% for supplier in suppliers %}
              <h2 class="sizeChatTitle">{{supplier.type}}</h2>
              <div class="sizeChart">
                <div class="sizeChartLable">
                  <table>
                    <tr>
                      <td>
                        year
                      </td>
                      <td>
                        size
                      </td>
                      <td>
                        shoulder
                      </td>
                      <td>
                        sleeves
                      </td>
                      <td>
                        chest
                      </td>
                      <td>
                        height
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="sizeChartValue">
                  {% for dfdf in supplier.value %}
                  <!-- {{ dfdf | json }} -->
                  {{ dfdf[0] }}
                  {% endfor %}
                  <table>
                    {% for dfdf in supplier.value %}
                    <tr>
                      {% for ddf in dfdf.value %}
                      <td> {{ dfdf.age }}</td>
                      <td>{{ ddf.size }}</td>
                      <td> {{ ddf.shoulder }}</td>
                      <td> {{ ddf.sleeves }}</td>
                      <td> {{ ddf.chest }}</td>
                      <td> {{ ddf.height }}</td>
                      {% endfor %}
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="size-data-image">
              <!-- <img width="538" height="538" loading="lazy"  src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sundarisilks-how-to-{{ collection.title | remove:"/" | remove: " " }}.jpg" /> -->
              <img width="538" height="538" loading="lazy"
                src="https://cdn.shopify.com/s/files/1/0490/1158/9282/files/sundarisilks-how-to-Shirts.jpg?" />
            </div>
          </div>
        </div>
      </div>
    </div>

    {% if product.content != blank %}
    <h2 class="product-title-secondary">Description</h2>
    <p class="product-description">{{product.content | strip_html }}</p>
    {% endif %}

    {% if product.metafields.custom.note.value != blank %}
    <h2 class="product-title-secondary"> Specification </h2>
    {% endif %}

    <div class="product-detail">
      {% if product.metafields.custom.material.value != blank %}
      <dl>
        <dt> Material</dt>
        <dd>{{ product.metafields.custom.material.value }}</dd>
      </dl>
      {% endif %}
      {% if product.metafields.custom.border_color.value != blank %}
      <dl>
        <dt>Body Color</dt>
        <dd>{{ product.metafields.custom.border_color.value }}</dd>
      </dl>
      {% endif %}
      {% if product.metafields.custom.pallu_color.value != blank %}
      <dl>
        <dt>Pallu Color</dt>
        <dd>{{ product.metafields.custom.pallu_color.value }}</dd>
      </dl>
      {% endif %}
      {% if product.metafields.custom.blouse.value != blank %}
      <dl>
        <dt> Blouse</dt>
        <dd>{{ product.metafields.custom.blouse.value }}</dd>
      </dl>
      {% endif %}
      {% if product.metafields.custom.border.value != blank %}
      <dl>
        <dt> Border</dt>
        <dd>{{ product.metafields.custom.border.value }}</dd>
      </dl>
      {% endif %}
      {% if product.metafields.custom.blouse_color.value != blank %}
      <dl>
        <dt> Blouse Color</dt>
        <dd>{{ product.metafields.custom.blouse_color.value }}</dd>
      </dl>
      {% endif %}
      {% if product.metafields.custom.zari.value != blank %}
      <dl>
        <dt> Zari</dt>
        <dd>{{ product.metafields.custom.zari.value }}</dd>
      </dl>
      {% endif %}
      {% if product.metafields.custom.purity.value != blank %}
      <dl>
        <dt> Purity </dt>
        <dd>{{ product.metafields.custom.purity.value }}</dd>
      </dl>
      {% endif %}
      {% if product.metafields.custom.size.value != blank %}
      <dl>
        <dt> Size </dt>
        <dd>{{ product.metafields.custom.size.value }}</dd>
      </dl>
      {% endif %}
      {% if product.metafields.custom.color.value != blank %}
      <dl>
        <dt> Color </dt>
        <dd>{{ product.metafields.custom.color.value }}</dd>
      </dl>
      {% endif %}
      {% if product.metafields.custom.sleeve.value != blank %}
      <dl>
        <dt> Sleeve </dt>
        <dd>{{ product.metafields.custom.sleeve.value }}</dd>
      </dl>
      {% endif %}
      {% if product.metafields.custom.bottom_color.value != blank %}
      <dl>
        <dt> Button Color </dt>
        <dd>{{ product.metafields.custom.bottom_color.value }}</dd>
      </dl>
      {% endif %}
      {% if product.metafields.custom.dupatta.value != blank %}
      <dl>
        <dt> Dupatta </dt>
        <dd>{{ product.metafields.custom.dupatta.value }}</dd>
      </dl>
      {% endif %}
      {% if product.metafields.custom.collar.value != blank %}
      <dl>
        <dt> Collar </dt>
        <dd>{{ product.metafields.custom.collar.value }}</dd>
      </dl>
      {% endif %}
      {% if product.metafields.custom.age.value != blank %}
      <dl>
        <dt> Age </dt>
        <dd>{{ product.metafields.custom.age.value }}</dd>
      </dl>
      {% endif %}
      {% if product.metafields.custom.angavastram.value != blank %}
      <dl>
        <dt> Angavastram </dt>
        <dd>{{ product.metafields.custom.angavastram.value }}</dd>
      </dl>
      {% endif %}
    </div>
    <div class="product-common-note">
      {% if product.metafields.custom.wash_care_tips.value != blank %}
      <dl>
        <dt> Wash Care </dt>
        <dd> {{ product.metafields.custom.wash_care_tips.value }} </dd>
      </dl>
      {% endif %}
      {% if product.metafields.custom.delivery_shipping.value != blank %}
      <dl>
        <dt> Delivery Shipping </dt>
        <dd> {{ product.metafields.custom.delivery_shipping.value }} </dd>
      </dl>
      {% endif %}
      {% if product.metafields.custom.note.value != blank %}
      <dl>
        <dt> Note </dt>
        <dd> {{ product.metafields.custom.note.value }} </dd>
      </dl>
      {% endif %}
    </div>
  </div>
</section>
<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {%- if product.featured_media -%}
      {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif -%}
    "description": {{ product.description | strip_html | json }},
    {%- if current_variant.sku != blank -%}
      "sku": {{ current_variant.sku | json }},
    {%- endif -%}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

<script>
  _onSelectChange: function() {
      var variant = this._getVariantFromOptions();

      this.$container.trigger({
        type: 'variantChange',
        variant: variant
      });

      if (!variant) {
        return;
      }

      this._updateMasterSelect(variant);
      this._updateImages(variant);
      this._updatePrice(variant);
      this._updateSKU(variant);
      this.currentVariant = variant;

      if (this.enableHistoryState) {
        this._updateHistoryState(variant);
      }
    },

</script>
