{% assign collection = collections[ section.settings.show_collection ] %}
{{ 'testproduct.css' | asset_url | stylesheet_tag }}
<section>
  <div class="test--product-card--grid">
    {% for product in collection.products limit:section.settings.show_productcount %}
    {% unless
    section.settings.show_soldout != false
    and
    product.available != true %}
    <div class="test--product-card">
      <a href="{{product.url | within: collection }}" class="product-link">
        {{ product.featured_image | image_url: width: 400, height: 400, crop: 'bottom' | image_tag : class:
        'product-image', loading: 'lazy', alt: product.feature_image.alt}}
        <h2 class="product-title">{{ product.title }}</h2>
        <p class="product-money"> {{ product.price | money }} </p>
        {% if  product.available != true %}
        <span class="product-label-soldout"> sold out </span>
        {% endif %}
      </a>
    </div>
    {% endunless %}
    {% endfor %}
  </div>
</section>
{% schema %}
{
  "name": "Product per Collection",
  "class": "section-random-product",
  "settings": [
  {
    "type": "text",
    "id": "show_collection",
    "label": "Collection Name as per Title in collection page",
    "default": "all"
  },
    {
      "type": "number",
      "id": "show_productcount",
      "label": "How many product need to show",
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "show_soldout",
      "label": "Hide sold out products",
      "default": false
    }
  ],
  "presets": [
      {
          "name": "Product List/Collection",
          "category": "product"
      }
  ]
}
{% endschema %}
