{% assign current_product = product.selected_or_first_available_variant%}
{% assign product_image = current_product.featured_image | default : product.featured_image %}

<div class="product-image">
  <img src="{{ product_image | image_url: width: 440 }}" alt="{{ product_image.alt }}" id="product-image-main">
  <br>
  {% for image in product.images %}
  <img src="{{ image.src | image_url : width: 400 }}" alt="{{image.alt }}">
  {% endfor %}
</div>
<div class="product-content">
  <h2 class="product-image">{{product.title}}</h2>
  <h2 class="product-description">{{product.content | strip_html }}</h2>
  <p class="product-price">{{current_product.price | money_with_currency }}</p>

  {% form 'product', product, class: 'product-form', id:AddToCartForm %}
  <select class="product-form-select" name="id" id="product-form-select">
    {% for variant in product.variants %}
    <option value="{{ variant.id }}"> {{ variant.title }}- {{ variant.price | money }}</option>
    {% endfor %}
  </select>


  <input type="number" class="form-control" name="quantity" id="quantity" value="1" min="1">
  <button type="submit" {% unless product.available %} disabled="disabled" {% endunless %}>
    {% if product.available %}
    <p>Add to Cart</p>
    {% else %}
    <p>Sold Out</p>
    {% endif %}
  </button>

  {% endform %}
  <form action="/cart/add" method="post" class="variants" id="product-actions-{{ product.id }}" enctype="multipart/form-data">
    <input type="hidden" name="variantId" value="{{ product.variants[0].id }}" />
    <button class="button buynow-btn" title="Buy" onClick="instantBuy()"><span>Buy now</span></button>
    </form>

</div>


<hr>
<script>

 function instantBuy(){
     var $ = jQuery;

   var formParams = $('form.cart').serialize();
     $.ajax({
      url: "/cart/add",
      type: "post",
      data: formParams,
      success: function(){
       window.location.href = "/checkout";
      },
      error: function(){
      }
     })
 }
</script>

<!-- price varies : <p>{{ product.compare_at_price_varies }}</p> -->
<!-- image: -->
<!-- {% for image in product.images %}
    <p><img src="{{ image.src | product_img_url: "large" }}"></p>
{% endfor %} -->

<!-- Media -->
<!-- media code:
{% for media in product.media %}
  <code for media>
{% endfor %}
media video tag:
{% for media in product.media %}
  {% case media.media_type %}
    {% when 'video' %}
      <div class="product-video">
        {{ media | video_tag }}
      </div>
  {% endcase %}
{% endfor %}
media video tag media:
{% for media in product.media %}
  {% case media.media_type %}
    {% when 'image' %}
      <div class="product-image">
        <img src="{{ media | img_url: '100x100'}}" alt="{{ media.alt }}">
       </div>
    {% when 'external_video' %}
      <div class="product-single__media">
        {{ media | external_video_tag }}
      </div>
    {% when 'video' %}
      <div class="product-single__video">
        {{ media | video_tag: controls: true }}
      </div>
    {% when 'model' %}
      <div class="product-single__media">
        {{ media | model_viewer_tag }}
      </div>
    {% else %}
      <div class="product-single__media">
        {{ media | media_tag }}
      </div>
  {% endcase %}
{% endfor %} -->

<!-- external video: -->

<!-- Price : <p>{{ product.price }}</p>
Price max : <p>{{ product.price_max }}</p>
Price min : <p>{{ product.price_min }}</p>
Price varies : <p>{{ product.price_varies }}</p>
Type : <p>{{ product.type }}</p> -->
