{% assign current_product = product.selected_or_first_available_variant%}
{% assign product_image = current_product.featured_image | default : product.featured_image %}


<style>
  table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
  }

  table span th,
  table span span {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }

  table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }

  table tbody+tbody {
    border-top: 2px solid #dee2e6;
  }
</style>


<div class="" style="display: flex; justify-content:flex-start">
  <div class="product-image">
    <img src="{{ product_image | image_url: width: 440 }}" alt="{{ product_image.alt }}" id="product-image-main">
    <br>
    {% for image in product.images %}
    <img src="{{ image.src | image_url : width: 400 }}" alt="{{image.alt }}">
    {% endfor %}
  </div>
  <div class="product-content">
    <h2 class="product-image">{{product.title}}</h2> <br>
    <p class="product-sku">{{product.sku}}</p> <br>
    <p class="product-price">{{current_product.price | money_with_currency }}</p><br>

    {% form 'product', product, class: 'product-form', id:AddToCartForm %}
    <input type="hidden" class="form-conspanol" name="quantity" id="quantity" value="1" min="1">
    <button type="submit" {% unless product.available %} disabled="disabled" {% endunless %}>
      {% if product.available %}
      <p>Add to Cart</p>
      {% else %}
      <p>Sold Out</p>
      {% endif %}
    </button>

    {% endform %}



    {% if product.content != blank %}
    <h4>Description</h4>
    <p class="product-description">{{product.content | sspanip_html }}</p> <br>
    {% endif %}

    <p>
      Size &amp; Fit
    <ul>
      {% for variant in product.variants %}
      <li value="{{ variant.id }}"> {{ variant.title }}</li>
      {% endfor %}
    </ul>
    </p><br>

    <ul style="display: flex; gap: 24px; flex-direction: column;">
      <li>
        type: banarasi
      </li>
      <li>
        print or pattern type : dimond
      </li>
      <li>
        occasion : office
      </li>
      <li>
        blouse : without blouse
      </li>
      <li>
        body color : purple
      </li>
      <li>
        border color : sly blue
      </li>
      <li>
        pallu color : sky blue</li>
      <li>
        border : double side
      </li>
    </ul> <br> <br>


    {{ product.metafields.custom.size_chart }}
    <hr>
    <p></p>

    {% comment %}
    {% assign json_str = product.metafields.custom.size_chart%}
    {% assign json_token = json_str | split: ',' %}

    {% for token in json_token %}
    {% if forloop.index == 1 %}
    {% assign res = token | split: ':' %}
    {% assign resWithoutQuotes = res[0] | remove: '[{"' %}
    {% capture pickup_spot %}
    Your amazing truck pickup spot is: {{ resWithoutQuotes }}
    {% endcapture %}
    {% endif %}
    {% endfor %}

    {{ pickup_spot }}
    <hr>
    {% endcomment %}

    {% assign suppliers = product.metafields.custom.size_chart.value %}

    {% for supplier in suppliers %}
    <h6>{{supplier.type}}</h6>
    <div style="display: flex; justify-content: space-between;">
      {% tablerow dfdf in supplier.value %}
      <ul>
        <li> {{ dfdf.age }}
          {% tablerow ddf in dfdf.value %}
          <span>{{ ddf.size }}</span><br>
          <span> {{ ddf.shoulder }}</span><br>
          <span> {{ ddf.sleeves }}</span><br>
          <span> {{ ddf.chest }}</span><br>
          <span> {{ ddf.height }}</span><br>
          {% endtablerow %}
        </li>
      </ul>
      {% endtablerow %}
    </div>
    {% endfor %}


    {% if product.metafields.custom.wash_care_tips.value != blank %}
    <p>Wash Care: {{ product.metafields.custom.wash_care_tips.value }} </p> <br>
    {% endif %}

    {% if product.metafields.custom.delivery_shipping.value != blank %}
    <p>Delivery Shipping: {{ product.metafields.custom.delivery_shipping.value }} </p> <br>
    {% endif %}


    {% if product.metafields.custom.note.value != blank %}
    <p>Note: {{ product.metafields.custom.note.value }} </p> <br>
    {% endif %}


  </div>

</div>

<script>

  function instantBuy() {
    var $ = jQuery;

    var formParams = $('form.cart').serialize();
    $.ajax({
      url: "/cart/add",
      type: "post",
      data: formParams,
      success: function () {
        window.location.href = "/checkout";
      },
      error: function () {
      }
    })
  }
</script>

<!-- price varies : <p>{{ product.compare_at_price_varies }}</p> -->
<!-- image: -->
<!-- {% for image in product.images %}
    <p><img src="{{ image.src | product_img_url: "large" }}"></p>
{% endfor %} -->

<!-- Media -->
<!-- media code:
{% for media in product.media %}
  <code for media>
{% endfor %}
media video tag:
{% for media in product.media %}
  {% case media.media_type %}
    {% when 'video' %}
      <div class="product-video">
        {{ media | video_tag }}
      </div>
  {% endcase %}
{% endfor %}
media video tag media:
{% for media in product.media %}
  {% case media.media_type %}
    {% when 'image' %}
      <div class="product-image">
        <img src="{{ media | img_url: '100x100'}}" alt="{{ media.alt }}">
       </div>
    {% when 'external_video' %}
      <div class="product-single__media">
        {{ media | external_video_tag }}
      </div>
    {% when 'video' %}
      <div class="product-single__video">
        {{ media | video_tag: conspanols: spanue }}
      </div>
    {% when 'model' %}
      <div class="product-single__media">
        {{ media | model_viewer_tag }}
      </div>
    {% else %}
      <div class="product-single__media">
        {{ media | media_tag }}
      </div>
  {% endcase %}
{% endfor %} -->

<!-- external video: -->

<!-- Price : <p>{{ product.price }}</p>
Price max : <p>{{ product.price_max }}</p>
Price min : <p>{{ product.price_min }}</p>
Price varies : <p>{{ product.price_varies }}</p>
Type : <p>{{ product.type }}</p> -->
