title : <h2>{{ product.title }}</h2>
content : <p>{{ product.content | | strip_html }}</p>
available : <p>{{ product.available }}</p>
{% form 'product', product %}
<select name="id">
{% for variant in product.variants %}
<option value="{{ variant.id }}"> {{ variant.title }}- {{ variant.price | money }}</option>
{% endfor %}
</select>

<button type="submit" {% unless product.available %} disabled="disabled" {% endunless %}>
{% if product.available %}
  <p>Add to Cart</p>
{% else %}
  <p>Sold Out</p>
{% endif %}
</button>
{% endform %}
price varies : <p>{{ product.compare_at_price_varies }}</p>
image:
{% for image in product.images %}
    <p><img src="{{ image.src | product_img_url: "large" }}"></p>
{% endfor %}
media code:
{% for media in product.media %}
  <code for media>
{% endfor %}
media video tag:
{% for media in product.media %}
  {% case media.media_type %}
    {% when 'video' %}
      <div class="product-video">
        {{ media | video_tag }}
      </div>
  {% endcase %}
{% endfor %}
media video tag media:
{% for media in product.media %}
  {% case media.media_type %}
    {% when 'image' %}
      <div class="product-image">
        <img src="{{ media | img_url: '100x100'}}" alt="{{ media.alt }}">
       </div>
    {% when 'external_video' %}
      <div class="product-single__media">
        {{ media | external_video_tag }}
      </div>
    {% when 'video' %}
      <div class="product-single__video">
        {{ media | video_tag: controls: true }}
      </div>
    {% when 'model' %}
      <div class="product-single__media">
        {{ media | model_viewer_tag }}
      </div>
    {% else %}
      <div class="product-single__media">
        {{ media | media_tag }}
      </div>
  {% endcase %}
{% endfor %}
external video:
{% when 'external_video' %}
 {{ media | external_video_tag: class: "youtube_video" }}

Price : <p>{{ product.price }}</p>
Price max : <p>{{ product.price_max }}</p>
Price min : <p>{{ product.price_min }}</p>
Price varies : <p>{{ product.price_varies }}</p>
Type : <p>{{ product.type }}</p>
